@import '../../../css/mixins.scss';

:local(.kit-slider) {
    flex-grow: 1;
    margin-left: convertToPixel(--general-spacing-none);
    margin-right: convertToPixel(--general-spacing-none);

    &.with-start-icon {
        margin-left: 20px;
    }

    &.with-end-icon {
        margin-right: 20px;
    }

    &.ant-slider:not(.ant-slider-disabled) {
        .ant-slider-handle {
            &:hover::after {
                background-color: var(
                    --components-Slider-handle-colors-background-hover,
                    var(--general-utilities-main-mainLight)
                );
            }

            &::after {
                box-shadow: 0 0 0 2px
                    var(--components-Slider-handle-colors-border-default, var(--general-utilities-main-mainColor));
            }

            &:focus::after {
                background-color: var(
                    --components-Slider-handle-colors-background-focus,
                    var(--general-utilities-main-mainColor)
                );
            }
        }

        &:hover {
            .ant-slider-dot:not(.ant-slider-dot-active) {
                border-color: var(
                    --components-Slider-dot-colors-border-default,
                    var(--general-utilities-neutral-neutralMedium)
                );
            }
        }

        .ant-slider-mark .ant-slider-mark-text:not(.ant-slider-mark-text-active) {
            color: var(--components-Slider-dot-colors-border-default, var(--general-utilities-neutral-neutralMedium));
        }

        .ant-slider-mark {
            top: 14px;
        }
    }

    &.ant-slider-disabled {
        .ant-slider-handle::after {
            box-shadow: 0 0 0 2px
                var(--components-Slider-handle-colors-border-disabled, var(--general-utilities-neutral-neutralMedium));
        }
    }
}

:local(.kit-slider-container) {
    position: relative;
    display: flex;
    align-items: baseline;

    .end-icon {
        color: var(--components-Slider-endIcon-colors-default, var(--general-utilities-neutral-neutralDark));
    }

    .start-icon {
        color: var(--components-Slider-startIcon-colors-default, var(--general-utilities-neutral-neutralDark));
    }
}
