@import '../../../css/mixins.scss';

:local(.kit-tag) {
    padding: convertToPixel(--general-spacing-xxs) convertToPixel(--general-spacing-xs);
    border: none;
    height: 24px;

    > div {
        padding-left: convertToPixel(--general-spacing-none);
    }

    &,
    a {
        font-size: convertToPixel(--components-Tag-typography-fontSize, --general-typography-fontSize7);
        font-family: var(--components-Tag-typography-fontFamily, var(--general-typography-fontFamily));
        font-weight: var(--components-Tag-typography-fontWeight, var(--general-typography-regularFontWeight));
        line-height: 16px;
        box-sizing: border-box;
        display: flex;
        width: fit-content;
    }

    .ant-tag-close-icon {
        margin-left: convertToPixel(--general-spacing-xs);
        .svg-inline--fa {
            vertical-align: -0.075em;
        }
    }

    background: var(--components-Tag-colors-default-background-default, var(--general-utilities-main-mainLight));
    color: var(--components-Tag-colors-default-typography-default, var(--general-utilities-text-textPrimary));

    .ant-tag-close-icon {
        color: var(--components-Tag-colors-default-typography-default, var(--general-utilities-text-textPrimary));
        align-self: center;

        &:hover {
            color: var(--components-Tag-colors-default-typography-default, var(--general-utilities-text-textPrimary));
        }
    }
}

:local(.kit-tag-group) {
    display: flex;
    flex-wrap: nowrap;
}
