@import '../../../css/mixins.scss';

:local(.kit-modal) {
    font-family: var(--components-Modal-typography-fontFamily, var(--general-typography-fontFamily));
    font-size: convertToPixel(--components-Modal-typography-fontSize-content, --general-typography-fontSize5);
    font-weight: var(--components-Modal-typography-fontWeight-content, var(--general-typography-regularFontWeight));
    background: var(--components-Modal-colors-background-default, var(--general-colors-neutral-white));
    border-radius: convertToPixel(--components-Modal-border-radius, --general-border-radius-s);
    box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 32px 32px 24px 32px;
    display: flex;
    position: relative;

    .kit-modal-wrapper-fullscreen & {
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .kit-modal-content-wrapper {
        flex: 0 1 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        > .kit-modal-title {
            flex: 0 1 auto;
        }

        .kit-modal-content {
            flex: 1 1 auto;
        }

        .kit-modal-close {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .kit-modal-title {
        font-size: convertToPixel(--components-Modal-typography-fontSize-title, --general-typography-fontSize4);
        font-weight: var(--components-Modal-typography-fontWeight-title, var(--general-typography-boldFontWeight));
    }

    .kit-confirm-image-wrapper {
        min-width: 350px;
        height: 150px;
        border-radius: convertToPixel(--components-Modal-border-radius, --general-border-radius-s);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .kit-confirm-icon {
        font-size: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        padding: 12px;

        &.kit-confirm-icon-info {
            color: var(--components-Modal-colors-icon-info, var(--general-colors-primary-primary400));
            background: var(
                --components-Modal-colors-background-info,
                var(--general-colors-primary-primary100)
            );
        }

        &.kit-confirm-icon-success {
            color: var(
                --components-Modal-colors-icon-success,
                var(--general-colors-secondary-green-green400)
            );
            background: var(
                --components-Modal-colors-background-success,
                var(--general-colors-secondary-green-green100)
            );
        }

        &.kit-confirm-icon-warning {
            color: var(
                --components-Modal-colors-icon-warning,
                var(--general-colors-secondary-orange-orange500)
            );
            background: var(
                --components-Modal-colors-background-warning,
                var(--general-colors-secondary-orange-orange100)
            );
        }

        &.kit-confirm-icon-error {
            color: var(--components-Modal-colors-icon-error, var(--general-colors-secondary-red-red400));
            background: var(
                --components-Modal-colors-background-error,
                var(--general-colors-secondary-red-red100)
            );
        }
    }

    .kit-modal-footer {
        margin-top: convertToPixel(--components-Modal-spacing-vertical-items, --general-spacing-m);
    }
}

:local(.kit-modal-overlay) {
    background: var(--components-Modal-Overlay-colors-background-default, rgba(0, 0, 0, 0.45));
    inset: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}