@import '../../../css/mixins.scss';

:local(.kit-modal) {
    font-family: var(--components-Modal-typography-fontFamily, var(--general-typography-fontFamily));
    font-size: convertToPixel(--components-Modal-typography-fontSize-content, --general-typography-fontSize5);
    font-weight: var(--components-Modal-typography-fontWeight-content, var(--general-typography-regularFontWeight));
    background: var(--components-Modal-colors-background-default, var(--general-utilities-light));
    border-radius: convertToPixel(--components-Modal-border-radius, --general-border-radius-s);
    box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .kit-modal-wrapper & {
        display: inline-flex;
        min-width: 350px;
    }

    .kit-modal-wrapper-fullscreen & {
        border-radius: convertToPixel(--general-border-radius-square);
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        box-sizing: border-box;
    }

    .kit-modal-header {
        display: flex;
        align-items: center;
        padding: convertToPixel(--general-spacing-s);
        padding-left: convertToPixel(--general-spacing-l);

        > .kit-modal-title {
            flex: 1 0 auto;
            padding-right: convertToPixel(--general-spacing-s);
            font-size: convertToPixel(--components-Modal-typography-fontSize-title, --general-typography-fontSize4);
            font-weight: var(--components-Modal-typography-fontWeight-title, var(--general-typography-boldFontWeight));

            h2 {
                margin: convertToPixel(--general-spacing-none);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .kit-modal-close {
            flex: 0;
        }
    }

    .kit-modal-content-wrapper-max-height {
        max-height: calc(90vh - var(--headerSize) - var(--footerSize) - (2 * convertToPixel(--general-spacing-s)));
    }

    .kit-modal-content-wrapper {
        --headerSize: 60px;
        --footerSize: 73px;

        flex: 0 1 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-l);
        overflow: auto;

        .kit-modal-content {
            flex: 1 1 auto;
            white-space: pre-wrap;
        }

        .kit-modal-vertical-items-spacing {
            display: inline-flex;
            flex-direction: column;
            gap: convertToPixel(--general-spacing-xs);
            row-gap: convertToPixel(--components-Modal-spacing-vertical-items, --general-spacing-m);
        }
        .kit-modal-horizontal-items-spacing {
            display: inline-flex;
            gap: convertToPixel(--general-spacing-xs);
            align-items: center;
            column-gap: convertToPixel(--components-Modal-spacing-vertical-items, --general-spacing-m);
        }
        .kit-modal-vertical-text-spacing {
            display: inilne-flex;
            flex-direction: column;
            gap: convertToPixel(--general-spacing-m);
            row-gap: convertToPixel(--components-Modal-spacing-vertical-items, --general-spacing-xs);
        }
    }

    .kit-modal-footer {
        display: flex;
        justify-content: end;
        width: '100%';
        gap: 10px;
        box-sizing: border-box;
        padding: convertToPixel(--general-spacing-s);
        padding-left: convertToPixel(--general-spacing-l);
        border-top: 1px solid var(--components-Card-colors-border-default, var(--general-utilities-border));
    }

    .kit-confirm-image-wrapper {
        min-width: 350px;
        height: 150px;
        border-radius: convertToPixel(--components-Modal-border-radius, --general-border-radius-s);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .kit-confirm-icon {
        font-size: convertToPixel(--general-typography-fontSize2);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        padding: 12px;

        &.kit-confirm-icon-info {
            color: var(--components-Modal-colors-icon-info, var(--general-utilities-text-blue));
            background: var(--components-Modal-colors-background-info, var(--general-utilities-main-light));
        }

        &.kit-confirm-icon-success {
            color: var(--components-Modal-colors-icon-success, var(--general-utilities-text-success));
            background: var(--components-Modal-colors-background-success, var(--general-utilities-success-light));
        }

        &.kit-confirm-icon-warning {
            color: var(--components-Modal-colors-icon-warning, var(--general-utilities-text-warning));
            background: var(--components-Modal-colors-background-warning, var(--general-utilities-warning-light));
        }

        &.kit-confirm-icon-error {
            color: var(--components-Modal-colors-icon-error, var(--general-utilities-text-error));
            background: var(--components-Modal-colors-background-error, var(--general-utilities-error-light));
        }
    }
}

.kit-modal-overlay {
    background: var(--components-Modal-Overlay-colors-background-default, rgba(0, 0, 0, 0.45));
    inset: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
