@import '../../../css/mixins.scss';

:local(.kit-tree) {
    .ant-tree-treenode {
        padding: convertToPixel(--general-spacing-none);
        font-weight: var(--components-Tree-treenode-typography-fontWeight, var(--general-typography-regularFontWeight));
        background-color: var(--general-utilities-colorNone);

        &:hover,
        &.ant-tree-treenode-selected {
            background-color: var(
                --components-Tree-treenode-colors-background-hover,
                var(--general-utilities-neutral-neutralLight)
            );
        }

        &.ant-tree-treenode-disabled {
            color: var(
                --components-Tree-treenode-colors-typography-disabled,
                var(--general-utilities-text-textDisabled)
            );

            &:hover:not(.ant-tree-treenode-selected) {
                background-color: var(--general-utilities-colorNone);
            }

            .ant-tree-node-content-wrapper {
                color: var(
                    --components-Tree-treenode-colors-typography-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }
        }

        .ant-tree-indent {
            background-color: var(--components-Tree-treenode-colors-background-indent, var(--general-utilities-light));
        }

        .ant-tree-switcher {
            min-height: 32px;
            line-height: 32px;

            &:hover {
                background-color: var(--general-utilities-colorNone);
            }
        }

        .ant-tree-checkbox {
            align-self: center;
            margin-top: convertToPixel(--general-spacing-none);
            margin-inline-end: convertToPixel(--general-spacing-none);

            .ant-tree-checkbox-inner {
                background-color: var(
                    --components-Tree-checkbox-colors-background-default,
                    var(--general-utilities-light)
                );
                border: 1px solid var(--components-Tree-checkbox-colors-border-default, var(--general-utilities-border));
            }

            .ant-tree-checkbox-inner:after {
                border-color: var(--components-Tree-checkbox-colors-icon-default, var(--general-utilities-border));
            }

            &:hover .ant-tree-checkbox-inner {
                border: 1px solid
                    var(--components-Tree-checkbox-colors-border-hover, var(--general-utilities-main-mainColor));
            }

            &.ant-tree-checkbox-checked {
                .ant-tree-checkbox-inner:after {
                    border-color: var(--components-Tree-checkbox-colors-icon-checked, var(--general-utilities-light));
                }

                .ant-tree-checkbox-inner {
                    background-color: var(
                        --components-Tree-checkbox-colors-background-checked-default,
                        var(--general-utilities-main-mainColor)
                    );
                    border: 1px solid
                        var(
                            --components-Tree-checkbox-colors-border-checked-default,
                            var(--general-utilities-main-mainColor)
                        );
                }

                &:hover .ant-tree-checkbox-inner {
                    background-color: var(
                        --components-Tree-checkbox-colors-background-checked-hover,
                        var(--general-utilities-main-mainDark)
                    );
                    border-color: var(
                        --components-Tree-checkbox-colors-border-checked-hover,
                        var(--general-utilities-main-mainDark)
                    );
                }
            }

            &.ant-tree-checkbox-indeterminate {
                &:not(.ant-tree-checkbox-disabled) {
                    .ant-tree-checkbox-inner {
                        background-color: var(
                            --components-Tree-checkbox-colors-background-checked-default,
                            var(--general-utilities-main-mainColor)
                        );
                        border-color: var(
                            --components-Tree-checkbox-colors-border-checked-default,
                            var(--general-utilities-main-mainColor)
                        );
                    }

                    &:hover .ant-tree-checkbox-inner {
                        background-color: var(
                            --components-Tree-checkbox-colors-background-checked-hover,
                            var(--general-utilities-main-mainDark)
                        );
                        border-color: var(
                            --components-Tree-checkbox-colors-border-checked-hover,
                            var(--general-utilities-main-mainDark)
                        );
                    }

                    .ant-tree-checkbox-inner:after {
                        width: 8px;
                        height: 0px;
                        border: 1px solid var(--general-utilities-light);
                        transform: translate('-4px', '-1px');
                    }
                }
            }

            &.ant-tree-checkbox-disabled {
                .ant-tree-checkbox-inner {
                    background-color: var(
                        --components-Tree-checkbox-colors-background-disabled,
                        var(--general-utilities-light)
                    );
                    border: 1px solid
                        var(--components-Tree-checkbox-colors-border-disabled, var(--general-utilities-border));
                }

                .ant-tree-checkbox-inner:after {
                    border-color: var(
                        --components-Tree-checkbox-colors-icon-disabled,
                        var(--general-utilities-disabled)
                    );
                }
            }
        }

        .ant-tree-node-content-wrapper {
            transition: none;
            background-color: inherit;
            min-height: 32px;
            line-height: 32px;
            padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-xs);
            color: var(--general-utilities-text-textPrimary);

            .ant-tree-iconEle {
                min-height: 32px;
                line-height: 32px;
                margin-inline-end: 10px;
                font-size: convertToPixel(--general-typography-fontSize4);
            }

            &:hover,
            &.ant-tree-node-selected {
                background-color: inherit;
                transition: none;
            }
        }

        &.ant-tree-treenode-leaf-last {
            .ant-tree-switcher-leaf-line:before {
                height: 18px !important;
            }
        }

        .ant-tree-switcher-leaf-line {
            &:after {
                height: 18px;
            }
        }
    }
}
