@import '../../../css/mixins.scss';

:local(.kit-switch) {
    & {
        background: var(--components-Switch-colors-background-default-off, var(--general-utilities-light));
        border: 1.3px solid
            var(--components-Switch-colors-handle-border-default-off, var(--general-utilities-neutral-neutralDark));
        height: 20px;
        width: 32px;
        min-width: 32px;
        border-radius: 20px;
    }

    &.ant-switch-checked {
        border: 1.3px solid
            var(--components-Switch-colors-handle-border-default-on, var(--general-utilities-main-mainColor));
    }

    &.ant-switch:hover {
        background-color: var(--general-utilities-light);
    }

    & {
        height: 22px;
    }

    .ant-switch-handle {
        font-size: convertToPixel(--general-typography-fontSize7);
        top: 1px;
        width: 18px;
        height: 18px;
        inset-inline-start: 1px;

        .ant-switch-loading-icon {
            top: 3px;
        }
    }

    &.ant-switch-checked .ant-switch-handle {
        inset-inline-start: calc(100% - 19px);
    }

    .ant-switch-handle::before {
        border: 1.3px solid
            var(--components-Switch-colors-handle-border-default-off, var(--general-utilities-neutral-neutralDark));
        background-color: var(
            --components-Switch-colors-handle-background-default-off,
            var(--general-utilities-neutral-neutralDark)
        );
        box-shadow: none;
        border-radius: convertToPixel(--general-border-radius-pills);
    }

    &.ant-switch-checked .ant-switch-handle::before {
        border: 1.3px solid
            var(--components-Switch-colors-handle-border-default-on, var(--general-utilities-main-mainColor));
        background-color: var(--components-Switch-colors-handle-background-default-on, var(--general-utilities-light));
    }

    &.ant-switch-disabled,
    &.ant-switch-checked.ant-switch-disabled {
        background: var(--components-Switch-colors-background-disabled, var(--general-utilities-neutral-neutralLight));
        border-color: var(--components-Switch-colors-handle-border-disabled, var(--general-utilities-border));

        .ant-switch-handle::before {
            background: var(--components-Switch-colors-background-disabled, var(--general-utilities-border));
            border-color: var(--components-Switch-colors-handle-border-disabled, var(--general-utilities-border));
            box-shadow: none;
        }
    }

    &.ant-switch.ant-switch-checked:not(.ant-switch-disabled) {
        background: var(--components-Switch-colors-background-default-on, var(--general-utilities-main-mainColor));

        .ant-switch-handle::before {
            border-color: var(
                --components-Switch-colors-handle-border-default-on,
                var(--general-utilities-main-mainColor)
            );
            box-shadow: none;
        }

        &.ant-switch.ant-switch-focus {
            .ant-switch-handle::before {
                box-shadow: none;
            }
        }
    }

    // Focus
    &.ant-switch-checked:focus-visible .ant-switch-handle {
        width: 23px;
        inset-inline-start: calc(100% - 24px);
    }

    &.ant-switch:not(.ant-switch-checked):focus-visible .ant-switch-handle {
        width: 23px;
        &::before {
            background-color: var(
                --components-Switch-colors-handle-background-default-on,
                var(--general-utilities-light)
            );
            border-color: var(
                --components-Switch-colors-handle-border-default-on,
                var(--general-utilities-main-mainColor)
            );
        }
    }
}
