@import '../../../css/mixins.scss';

.ant-dropdown,
.ant-dropdown-menu.ant-dropdown-menu-submenu {
    padding: 10px;
    border-radius: convertToPixel(--general-border-radius-s);
    font-family: var(--components-DropDown-typography-fontFamily, var(--general-typography-fontFamily));
    font-weight: var(--components-DropDown-typography-fontWeight, var(--general-typography-mediumfontWeight));
    background-color: var(
        --components-DropDown-colors-background-default,
        var(--general-utilities-neutral-neutralLight)
    );
    color: var(--components-DropDown-colors-typography-default, var(--general-utilities-text-textPrimary));
    box-shadow: var(--general-utilities-shadow-shadowMedium);

    .ant-dropdown-arrow {
        &::before,
        &::after {
            background-color: var(
                --components-DropDown-subMenu-expIcon-colors-background-default,
                var(--general-utilities-neutral-neutralLight)
            );
            box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
        }
    }

    .ant-dropdown-menu {
        overflow: visible;
        padding: convertToPixel(--general-spacing-none);
        background-color: var(
            --components-DropDown-menu-colors-background-default,
            var(--general-utilities-neutral-neutralLight)
        );
        box-shadow: none;

        .ant-dropdown-menu-item-group:first-of-type .ant-dropdown-menu-item-group-title {
            padding-top: convertToPixel(--general-spacing-none);
        }

        .ant-dropdown-menu-item-group-title {
            padding: convertToPixel(--general-spacing-xs) convertToPixel(--general-spacing-none);
            color: var(
                --components-DropDown-menuItemGroup-title-colors-typography-default,
                var(--general-utilities-text-textPrimary)
            );
            font-size: convertToPixel(
                --components-DropDown-menuItemGroup-title-typography-fontSize,
                --general-typography-fontSize7
            );
            font-weight: var(
                --components-DropDown-menuItemGroup-title-typography-fontWeight,
                var(--general-typography-boldFontWeight)
            );
        }

        .ant-dropdown-menu-item-group-list {
            margin: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-none)
                convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-xxs);
        }

        .ant-dropdown-menu-item,
        .ant-dropdown-menu-submenu {
            border-radius: convertToPixel(--general-border-radius-s);
            border: none;
            min-height: 32px;
            font-weight: var(
                --components-DropDown-menuItem-typography-fontWeight,
                var(--general-typography-mediumfontWeight)
            );
            color: var(
                --components-DropDown-menuItem-colors-typography-default,
                var(--general-utilities-text-textPrimary)
            );
            padding: convertToPixel(--general-spacing-none);

            & > svg {
                padding-left: 10px;
            }

            &:not(:last-child) {
                margin-bottom: convertToPixel(--general-spacing-xxs);
            }

            &.ant-dropdown-menu-item-active {
                background-color: var(
                    --components-DropDown-menuItem-colors-background-active,
                    var(--general-utilities-main-mainLight)
                );
                color: var(
                    --components-DropDown-menuItem-colors-typography-active,
                    var(--general-utilities-text-textBlue)
                );
            }

            &.ant-dropdown-menu-item-selected {
                background-color: var(
                    --components-DropDown-menuItem-colors-background-selected,
                    var(--general-utilities-main-mainLight)
                );
            }

            &.ant-dropdown-menu-item-disabled {
                background-color: var(
                    --components-DropDown-menuItem-colors-background-disabled,
                    var(--general-utilities-neutral-neutralLight)
                );
                color: var(
                    --components-DropDown-menuItem-colors-typography-disabled,
                    var(--general-utilities-text-textDisabled)
                );
                cursor: not-allowed;
            }
        }

        .ant-dropdown-menu-item > .ant-dropdown-menu-title-content {
            padding: convertToPixel(--general-spacing-none) 10px;
        }

        .ant-dropdown-menu-submenu {
            display: flex;
            align-items: center;

            .ant-dropdown-menu-submenu-title {
                background-color: initial;
                padding: convertToPixel(--general-spacing-none) 10px;
                font-weight: var(
                    --components-DropDown-subMenu-title-typography-fontWeight,
                    var(--general-typography-mediumfontWeight)
                );
                color: var(
                    --components-DropDown-subMenu-title-colors-typography-default,
                    var(--general-utilities-text-textPrimary)
                );
                width: 100%;

                .ant-dropdown-menu-title-content {
                    padding-right: convertToPixel(--general-spacing-xs);
                }

                .ant-dropdown-menu-submenu-expand-icon {
                    position: initial;
                    float: right;

                    svg {
                        color: var(
                            --components-DropDown-subMenu-expIcon-colors-typography-default,
                            var(--general-utilities-text-textPrimary)
                        );
                    }
                }
            }

            &.ant-dropdown-menu-submenu-active {
                background-color: var(
                    --components-DropDown-subMenu-colors-background-active,
                    var(--general-utilities-main-mainLight)
                );
                color: var(
                    --components-DropDown-subMenu-colors-typography-active,
                    var(--general-utilities-text-textBlue)
                );

                .ant-dropdown-menu-submenu-title {
                    color: var(
                        --components-DropDown-subMenu-title-colors-typography-active,
                        var(--general-utilities-text-textBlue)
                    );
                }

                .ant-dropdown-menu-submenu-expand-icon svg {
                    color: var(
                        --components-DropDown-subMenu-expIcon-colors-typography-active,
                        var(--general-utilities-text-textBlue)
                    );
                }
            }

            &.ant-dropdown-menu-submenu-disabled {
                .ant-dropdown-menu-submenu-title {
                    background-color: var(
                        --components-DropDown-subMenu-title-colors-background-disabled,
                        var(--general-utilities-neutral-neutralLight)
                    );
                    color: var(
                        --components-DropDown-subMenu-title-colors-typography-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                    cursor: not-allowed;

                    .ant-dropdown-menu-submenu-expand-icon svg {
                        background-color: var(
                            --components-DropDown-subMenu-expIcon-colors-background-disabled,
                            var(--general-utilities-neutral-neutralLight)
                        );
                        color: var(
                            --components-DropDown-subMenu-expIcon-colors-typography-disabled,
                            var(--general-utilities-text-textDisabled)
                        );
                    }
                }
            }
        }

        .ant-dropdown-menu-item-divider {
            background-color: var(
                --components-DropDown-menuItem-divider-colors-background-default,
                var(--general-utilities-border)
            );
        }

        a {
            transition: all 0s;
        }
    }

    &.ant-dropdown .ant-dropdown-menu {
        max-height: 256px;
        overflow: auto;
    }
}
