@import '../../../css/mixins.scss';

:local(.kit-select) {
    &.ant-select.ant-select-compact-item {
        &:not(.ant-select-compact-last-item) {
            margin-inline-end: convertToPixel(--general-spacing-none);
        }

        &.ant-select-compact-first-item:not(.ant-select-compact-last-item):not(.ant-select-open) {
            border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-square)
                convertToPixel(--components-Select-border-radius, --general-border-radius-s);
        }
    }

    &.ant-select.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) {
        .ant-select-selector {
            border-color: transparent;
            box-shadow: none;
        }
    }

    &.ant-select-open {
        &:not(.ant-select-compact-item):not(.ant-select-borderless) {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-square);
            }

            &.ant-select-top {
                border-radius: convertToPixel(--general-border-radius-square)
                    convertToPixel(--general-border-radius-square)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }

        &.ant-select-compact-item {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-raius, --general-border-radius-s)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-square);
            }

            &.ant-select-top {
                border-radius: convertToPixel(--general-border-radius-square)
                    convertToPixel(--general-border-radius-square)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }

        &.ant-select-compact-item.ant-select-compact-first-item:not(.ant-select-compact-last-item) {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-square)
                    convertToPixel(--general-border-radius-square);
            }

            &.ant-select-top {
                border-radius: convertToPixel(--general-border-radius-square)
                    convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-square)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }
    }

    &.ant-select:not(.ant-select-customize-input):not(.ant-select-borderless) {
        display: grid;
        min-height: 40px;
        grid-template-areas: 'input clear arrow';
        grid-template-columns: calc(100% - 60px) 30px 30px;
        position: relative;
        background-color: var(--components-Select-colors-background-default, var(--general-utilities-light));
        border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s);
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            &:not(.ant-select-disabled):not(.ant-select-focused) .ant-select-selector {
                border-color: var(--components-Select-colors-border-hover, var(--general-utilities-main-default));
            }

            .ant-select-arrow:not(:last-child) {
                opacity: 1;
            }
        }

        &.ant-select-focused {
            border-color: var(--components-Select-colors-border-focus-default, var(--general-utilities-main-default));
        }

        &.ant-select-single .ant-select-selector {
            padding-left: convertToPixel(--general-spacing-xs);
        }

        .ant-select-selector:has(~ .ant-select-clear) {
            padding-right: 60px;
        }

        .ant-select-selector {
            grid-column: 1 / 4;
            padding: convertToPixel(--general-spacing-xxs) 30px convertToPixel(--general-spacing-xxs) 5px;
            background-color: inherit;
            border: 1px solid var(--general-utilities-border);
            transition: none;
            min-height: 38px;

            .ant-select-selection-overflow {
                gap: convertToPixel(--general-spacing-xxs) convertToPixel(--general-spacing-none);

                .ant-select-selection-overflow-item {
                    max-width: calc(100% - 4px);

                    > span,
                    .ant-tag {
                        max-width: 100%;
                        align-items: center;
                        margin-inline-end: 2px;
                    }

                    &.ant-select-selection-overflow-item-rest .ant-select-selection-item {
                        height: auto;
                        background: none;
                        margin: convertToPixel(--general-spacing-none);
                        padding-inline-start: convertToPixel(--general-spacing-none);
                        padding-inline-end: convertToPixel(--general-spacing-none);
                    }
                }
            }

            .ant-select-selection-item .card-avatar {
                line-height: initial;
            }

            .ant-select-selection-item {
                padding-inline-start: convertToPixel(--general-spacing-xxs);
            }

            .ant-select-selection-item,
            .ant-select-selection-placeholder {
                display: flex;
                align-items: center;
                padding-inline-end: convertToPixel(--general-spacing-none);
            }

            .ant-select-selection-item,
            .ant-select-selection-search input {
                font-weight: var(
                    --components-Select-typography-fontWeight-content,
                    var(--general-typography-mediumfontWeight)
                );
                color: var(
                    --components-Select-colors-typography-content-default,
                    var(--general-utilities-text-primary)
                );
            }

            .ant-select-selection-placeholder {
                font-weight: var(
                    --components-Select-typography-fontWeight-placeholder,
                    var(--general-typography-regularFontWeight)
                );
                color: var(
                    --components-Select-colors-typography-placeholder-default,
                    var(--general-utilities-neutral-dark)
                );
            }

            .ant-select-selection-item .kit-icon {
                padding: 5px;
            }

            .kit-select-option {
                display: inline-flex;
                align-items: center;
                gap: convertToPixel(--general-spacing-xs);
                width: 100%;

                .kit-select-option-icon {
                    padding: convertToPixel(--general-spacing-xxs);
                }

                .card-info {
                    gap: convertToPixel(--general-spacing-none);
                }
            }
        }

        .ant-select-arrow {
            grid-column: 3/4;
            color: var(--components-Select-colors-icon-arrow-default, var(--general-utilities-text-primary));
        }

        .ant-select-clear {
            grid-column: 2/3;
            display: flex;
            font-size: convertToPixel(--general-typography-fontSize7);
            transform: none;
            transition: none;
            opacity: 1;
            color: var(--components-Select-colors-icon-clear-default, var(--general-utilities-text-primary));
        }

        &.ant-select-disabled {
            background-color: var(
                --components-Select-colors-background-disabled,
                var(--general-utilities-neutral-light)
            );
            color: var(--components-Select-colors-typography-content-disabled, var(--general-utilities-text-disabled));
            cursor: not-allowed;

            .ant-select-selector {
                border-color: var(--components-Select-colors-border-disabled, var(--general-utilities-border));
            }

            .ant-select-selection-item {
                color: var(
                    --components-Select-colors-typography-content-disabled,
                    var(--general-utilities-text-disabled)
                );
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-disabled,
                    var(--general-utilities-text-disabled)
                );
            }

            .ant-select-arrow {
                color: var(--components-Select-colors-icon-arrow-disabled, var(--general-utilities-text-disabled));
            }

            .ant-select-clear {
                color: var(--components-Select-colors-icon-clear-disabled, var(--general-utilities-text-disabled));
            }
        }

        &.ant-select-status-warning {
            background-color: var(
                --components-Select-colors-background-warning,
                var(--general-utilities-warning-light)
            );
            color: var(--components-Select-colors-typography-content-warning, var(--general-utilities-text-warning));

            &:hover:not(.ant-select-disabled):not(.ant-select-focused) .ant-select-selector {
                border-color: var(--components-Select-colors-border-warning, var(--general-utilities-warning-default));
            }

            .ant-select-selector {
                border-color: var(--components-Select-colors-border-warning, var(--general-utilities-warning-default));
            }

            .ant-select-selection-item {
                color: var(
                    --components-Select-colors-typography-content-warning,
                    var(--general-utilities-text-warning)
                );
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-warning,
                    var(--general-utilities-text-warning)
                );
            }

            .ant-select-arrow {
                color: var(--components-Select-colors-icon-arrow-warning, var(--general-utilities-text-warning));
                background-color: var(
                    --components-Select-colors-background-warning,
                    var(--general-utilities-warning-light)
                );
            }

            .ant-select-clear {
                color: var(--components-Select-colors-icon-clear-warning, var(--general-utilities-text-warning));
                background-color: var(
                    --components-Select-colors-background-warning,
                    var(--general-utilities-warning-light)
                );
            }

            &.ant-select-focused:not(.ant-select-customize-input) {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-Select-colors-border-focus-warning, var(--general-utilities-warning-medium));
            }
        }

        &.ant-select-status-error {
            background-color: var(--components-Select-colors-background-error, var(--general-utilities-error-light));
            color: var(--components-Select-colors-typography-content-error, var(--general-utilities-text-error));

            &:hover:not(.ant-select-disabled):not(.ant-select-focused) .ant-select-selector {
                border-color: var(--components-Select-colors-border-error, var(--general-utilities-error-default));
            }

            .ant-select-selector {
                border-color: var(--components-Select-colors-border-error, var(--general-utilities-error-default));
            }

            .ant-select-selection-item {
                color: var(--components-Select-colors-typography-content-error, var(--general-utilities-text-error));
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-error,
                    var(--general-utilities-text-error)
                );
            }

            .ant-select-arrow {
                color: var(--components-Select-colors-icon-arrow-error, var(--general-utilities-text-error));
                background-color: var(
                    --components-Select-colors-background-error,
                    var(--general-utilities-error-light)
                );
            }

            .ant-select-clear {
                color: var(--components-Select-colors-icon-clear-error, var(--general-utilities-text-error));
                background-color: var(
                    --components-Select-colors-background-error,
                    var(--general-utilities-error-light)
                );
            }

            &.ant-select-focused:not(.ant-select-customize-input) {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-Select-colors-border-focus-error, var(--general-utilities-error-medium));
            }
        }

        &.ant-select-focused:not(.ant-select-customize-input) {
            border-color: transparent;
            // TODO change to cards-border-stroke when available
            box-shadow: 0 0 0 3px var(--components-Select-colors-border-focus-default, var(--general-utilities-focus));

            .ant-select-selector span.ant-select-selection-placeholder {
                color: transparent;
            }
        }
    }

    .kit-select-option-badge {
        display: inline-block;
        vertical-align: middle;

        div {
            margin-left: convertToPixel(--general-spacing-xxs);
            width: convertToPixel(--components-Select-ColorBadge-width, 16);
            height: convertToPixel(--components-Select-ColorBadge-height, 16);
            border-radius: convertToPixel(--components-Select-ColorBadge-border-radius, --general-border-radius-xxs);
        }
    }

    .ant-avatar .kit-select-option-badge div {
        margin-left: convertToPixel(--general-spacing-none);
    }

    .kit-select-option-label {
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.kit-select-readonly.ant-select-disabled {
        &.ant-select-single {
            height: 20px;
        }

        .ant-select-arrow {
            display: none;
        }

        .ant-select-selector {
            padding-left: convertToPixel(--general-spacing-none);
            cursor: default;

            input {
                cursor: inherit;
            }

            .ant-select-selection-placeholder,
            .kit-select-option-label,
            .ant-select-selection-item {
                color: var(--general-colors-neutral-typography-default);
                font-weight: var(--general-typography-boldFontWeight);
            }

            .kit-select-option-badge {
                margin-right: convertToPixel(--general-spacing-xs);
            }
        }
    }

    &.kit-select-readonly.ant-select-disabled {
        &.ant-select-status-error .ant-select-selector {
            .ant-select-selection-placeholder,
            .kit-select-option-label,
            .ant-select-selection-item {
                color: var(--general-utilities-text-error);
            }
        }

        .ant-select-selector {
            .ant-select-selection-placeholder,
            .kit-select-option-label,
            .ant-select-selection-item {
                color: var(--general-utilities-text-primary);
            }
        }
    }
}
