@import '../../../css/mixins.scss';

:local(.kit-select) {
    &.ant-select.ant-select-compact-item {
        &:not(.ant-select-compact-last-item) {
            margin-inline-end: 0px;
        }

        &.ant-select-compact-first-item:not(.ant-select-compact-last-item):not(.ant-select-open) {
            border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s) 0 0
                convertToPixel(--components-Select-border-radius, --general-border-radius-s);
        }
    }

    &.ant-select.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) {
        .ant-select-selector {
            border-color: transparent;
            box-shadow: none;
        }
    }

    &.ant-select-open {
        &:not(.ant-select-compact-item) {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s)
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s) 0 0;
            }

            &.ant-select-top {
                border-radius: 0 0 convertToPixel(--components-Select-border-radius, --general-border-radius-s) 
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }

        &.ant-select-compact-item {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-raius, --general-border-radius-s) 
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s) 0 0;
            }

            &.ant-select-top {
                border-radius: 0 0 convertToPixel(--components-Select-border-radius, --general-border-radius-s) 
                    convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }

        &.ant-select-compact-item.ant-select-compact-first-item:not(.ant-select-compact-last-item) {
            &.ant-select-bottom {
                border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s) 0 0 0;
            }

            &.ant-select-top {
                border-radius: 0 0 0 convertToPixel(--components-Select-border-radius, --general-border-radius-s);
            }
        }
    }

    &.ant-select:not(.ant-select-customize-input) {
        display: grid;
        min-height: 40px;
        grid-template-areas: 'input clear arrow';
        grid-template-columns: calc(100% - 60px) 30px 30px;
        position: relative;
        background-color: var(
            --components-Select-colors-background-default,
            var(--general-colors-neutral-white)
        );
        border-radius: convertToPixel(--components-Select-border-radius, --general-border-radius-s);
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            border-color: var(
                --components-Select-colors-border-hover,
                var(--general-colors-primary-primary400)
            );
        }

        &.ant-select-focused {
            border-color: var(
                --components-Select-colors-border-focus-default,
                var(--general-colors-primary-primary400)
            );
        }

        .ant-select-selector:has(~ .ant-select-clear)  {
            padding-right: 60px;
        }
            
        .ant-select-selector {
            grid-column: 1 / 4;
            padding: 4px 30px 4px 9px;
            background-color: inherit;
            border: 1px solid var(--general-colors-secondary-mediumGrey-mediumGrey200);
            transition: none;
            min-height: 38px;

            .ant-select-selection-overflow {
                gap: 4px 0px;

                .ant-select-selection-overflow-item {
                    max-width: calc(100% - 4px);

                    > span,
                    .ant-tag {
                        max-width: 100%;
                    }

                    &.ant-select-selection-overflow-item-rest .ant-select-selection-item {
                        background: none;
                        margin: 0;
                        padding-inline-start: 0;
                        padding-inline-end: 0;
                    }
                }
            }

            .ant-select-selection-item,
            .ant-select-selection-placeholder {
                display: flex;
                align-items: center;
                padding-inline-end: 0;
            }

            .ant-select-selection-item,
            .ant-select-selection-search input {
                font-weight: var(
                    --components-Select-typography-fontWeight-content,
                    var(--general-typography-mediumfontWeight)
                );
                color: var(
                    --components-Select-colors-typography-content-default,
                    var(--general-colors-primary-primary300)
                );
            }

            .ant-select-selection-placeholder {
                font-weight: var(
                    --components-Select-typography-fontWeight-placeholder,
                    var(--general-typography-regularFontWeight)
                );
                color: var(
                    --components-Select-colors-typography-placeholder-default,
                    var(--general-colors-secondary-mediumGrey-mediumGrey500)
                );
            }

            .ant-select-selection-item .kit-icon {
                padding: 5px;
            }

            .kit-select-option {
                display: inline-flex;
                align-items: center;
                gap: 8px;
                width: 100%;

                .kit-select-option-icon {
                    padding: 4px;
                }
            }
        }

        .ant-select-arrow {
            grid-column: 3/4;
            color: var(
                --components-Select-colors-icon-arrow-default,
                var(--general-colors-secondary-mediumGrey-mediumGrey500)
            );
        }

        .ant-select-clear {
            grid-column: 2/3;
            display: flex;
            font-size: 12px;
            transform: none;
            transition: none;
            opacity: 1;
            color: var(
                --components-Select-colors-icon-clear-default,
                var(--general-colors-secondary-mediumGrey-mediumGrey500)
            );
        }

        &.ant-select-disabled {
            background-color: var(
                --components-Select-colors-background-disabled,
                var(--general-colors-secondary-mediumGrey-mediumGrey100)
            );
            color: var(
                --components-Select-colors-typography-content-disabled,
                var(--general-colors-secondary-mediumGrey-mediumGrey400)
            );
            border-color: var(
                --components-Select-colors-border-disabled,
                var(--general-colors-secondary-mediumGrey-mediumGrey200)
            );
            cursor: not-allowed;

            .ant-select-selection-item {
                color: var(
                    --components-Select-colors-typography-content-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }

            .ant-select-arrow {
                color: var(
                    --components-Select-colors-icon-arrow-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }

            .ant-select-clear {
                color: var(
                    --components-Select-colors-icon-clear-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }
        }

        &.ant-select-status-warning {
            background-color: var(
                --components-Select-colors-background-warning,
                var(--general-colors-secondary-orange-orange100)
            );
            color: var(
                --components-Select-colors-typography-content-warning,
                var(--general-colors-secondary-orange-orange500)
            );
            border-color: var(
                --components-Select-colors-border-warning,
                var(--general-colors-secondary-orange-orange400)
            );

            .ant-select-selection-item {
                color: var(
                    --components-Select-colors-typography-content-warning,
                    var(--general-colors-secondary-orange-orange500)
                );
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-warning,
                    var(--general-colors-secondary-orange-orange400)
                );
            }

            .ant-select-arrow {
                color: var(
                    --components-Select-colors-icon-arrow-warning,
                    var(--general-colors-secondary-orange-orange400)
                );
                background-color: var(
                    --components-Select-colors-background-warning,
                    var(--general-colors-secondary-orange-orange100)
                );
            }

            .ant-select-clear {
                color: var(
                    --components-Select-colors-icon-clear-warning,
                    var(--general-colors-secondary-orange-orange400)
                );
                background-color: var(
                    --components-Select-colors-background-warning,
                    var(--general-colors-secondary-orange-orange100)
                );
            }

            &.ant-select-focused:not(.ant-select-customize-input) {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(
                        --components-Select-colors-border-focus-warning,
                        var(--general-colors-secondary-orange-orange200)
                    );
            }
        }

        &.ant-select-status-error {
            background-color: var(
                --components-Select-colors-background-error,
                var(--general-colors-secondary-red-red100)
            );
            color: var(
                --components-Select-colors-typography-content-error,
                var(--general-colors-secondary-red-red400)
            );
            border-color: var(
                --components-Select-colors-border-error,
                var(--general-colors-secondary-red-red400)
            );

            .ant-select-selection-item {
                color: var(
                    --components-Select-colors-typography-content-error,
                    var(--general-colors-secondary-red-red400)
                );
            }

            .ant-select-selection-placeholder {
                color: var(
                    --components-Select-colors-typography-placeholder-error,
                    var(--general-colors-secondary-red-red400)
                );
            }

            .ant-select-arrow {
                color: var(
                    --components-Select-colors-icon-arrow-error,
                    var(--general-colors-secondary-red-red400)
                );
                background-color: var(
                    --components-Select-colors-background-error,
                    var(--general-colors-secondary-red-red100)
                );
            }

            .ant-select-clear {
                color: var(
                    --components-Select-colors-icon-clear-error,
                    var(--general-colors-secondary-red-red400)
                );
                background-color: var(
                    --components-Select-colors-background-error,
                    var(--general-colors-secondary-red-red100)
                );
            }

            &.ant-select-focused:not(.ant-select-customize-input) {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(
                        --components-Select-colors-border-focus-error,
                        var(--general-colors-secondary-red-red200)
                    );
            }
        }

        &.ant-select-focused:not(.ant-select-customize-input) {
            border-color: transparent;
            // TODO change to cards-border-stroke when available
            box-shadow: 0 0 0 3px
                var(
                    --components-Select-colors-border-focus-default,
                    var(--general-colors-primary-primary200)
                );

            .ant-select-selector span.ant-select-selection-placeholder {
                color: transparent;
            }
        }
    }

    .kit-select-option-badge {
        display: inline-block;
        vertical-align: middle;

        div {
            margin-left: 4px;
            width: convertToPixel(--components-Select-ColorBadge-width, 16);
            height: convertToPixel(--components-Select-ColorBadge-height, 16);
            border-radius: convertToPixel(--components-Select-ColorBadge-border-radius, --general-border-radius-xxs);
        }
    }

    .kit-select-option-label {
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
