@import '../../../css/mixins.scss';

:local(.kit-snackbar) {
    display: grid;
    column-gap: convertToPixel(--general-spacing-xs);
    align-items: center;
    min-height: 24px;
    padding: convertToPixel(--general-spacing-xs) convertToPixel(--general-spacing-s);
    background-color: var(--components-SnackBar-colors-background, var(--general-utilities-neutral-neutralDeepDark));
    border: 1px solid var(--components-SnackBar-colors-border, var(--general-utilities-neutral-neutralDeepDark));
    border-radius: convertToPixel(--general-border-radius-s);
    box-shadow: var(--general-utilities-shadow-shadowMedium);
    font-family: var(--components-SnackBar-typography-fontFamily, var(--general-typography-fontFamily));

    .kit-snackbar-grid-one {
        min-width: 150px;
        grid-column: 1;
    }

    .kit-snackbar-grid-two {
        grid-column: 2;
    }

    .kit-snackbar-grid-three {
        grid-column: 3;

        &.with-cta-container {
            grid-column: 2;
        }
    }

    .kit-snackbar-grid {
        .kit-snackbar-title {
            color: var(--components-SnackBar-colors-typography-title, var(--general-utilities-text-textLight));
            font-size: convertToPixel(--components-SnackBar-typography-title-fontSize, --general-typography-fontSize5);
            font-weight: var(
                --components-SnackBar-typography-title-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }

        .kit-snackbar-cta-container {
            height: 23px;
            line-height: 23px;
            width: fit-content;
            padding: convertToPixel(--general-spacing-none) 12px;
            border: 0.499px solid var(--components-SnackBar-colors-cta-border-default, var(--general-utilities-border));
            border-radius: convertToPixel(--general-border-radius-pills);
            cursor: pointer;

            .kit-snackbar-cta {
                color: var(
                    --components-SnackBar-colors-cta-typography-default,
                    var(--general-utilities-neutral-neutralMedium)
                );
                font-size: 10px;
                font-weight: var(
                    --components-SnackBar-typography-cta-fontWeight,
                    var(--general-typography-mediumfontWeight)
                );
                text-transform: uppercase;
            }

            &:hover {
                border-color: var(
                    --components-SnackBar-colors-cta-border-hover,
                    var(--general-utilities-neutral-neutralDark)
                );

                .kit-snackbar-cta {
                    color: var(
                        --components-SnackBar-colors-cta-typography-hover,
                        var(--general-utilities-neutral-neutralDark)
                    );
                }
            }
        }

        .kit-snackbar-close-container {
            color: var(--components-SnackBar-colors-closeIcon-default, var(--general-utilities-text-textLight));
            font-size: var(--general-typography-fontSize4);
            cursor: pointer;

            &:hover {
                color: var(--components-SnackBar-colors-closeIcon-hover, var(--general-utilities-neutral-neutralDark));
            }
        }
    }
}
