@import '../../../css/mixins.scss';

:local(.kit-header) {
    --kit-header-height: 64px;

    display: flex;
    gap: convertToPixel(--general-spacing-s);
    padding-right: convertToPixel(--general-spacing-s);
    align-items: center;
    height: var(--kit-header-height);
    overflow: hidden;
    background: var(--general-utilities-light);
    width: 100%;
    box-sizing: border-box;

    .kit-header-menu {
        height: var(--kit-header-height);
        width: var(--kit-header-height);
        flex-grow: 0;
        flex-shrink: 0;
        background: var(--general-utilities-main-mainColor);
        color: var(--kit-header-invert-color);
        padding: convertToPixel(--general-spacing-none);
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kit-header-logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: calc(var(--kit-header-height) - (2 * (convertToPixel(--general-spacing-xs))));
        }
    }

    &:not(.with-menu) .kit-header-logo {
        padding-left: convertToPixel(--general-spacing-s);
    }

    .kit-header-content {
        grid-area: content;
        padding-left: convertToPixel(--general-spacing-s);
        justify-content: flex-start;
    }

    .kit-header-right-items {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: convertToPixel(--general-spacing-s);
    }

    .kit-header-profile {
        grid-area: profile;
        display: flex;
        padding: convertToPixel(--general-spacing-xxs) convertToPixel(--general-spacing-s);
        background-color: var(--general-colors-primary-blue50);
        align-items: center;
        border-radius: convertToPixel(--general-spacing-xs);

        &.with-menu {
            cursor: pointer;
        }

        .kit-header-profile-logo {
            height: 32px;
        }

        .id-card-grid:not(:first-child) {
            margin-left: convertToPixel(--general-spacing-s);
        }
    }

    .kit-header-lang {
        grid-area: lang;

        .select {
            width: 130px;
        }

        .flagIcon {
            border-radius: convertToPixel(--general-border-radius-pills);
        }

        .kit-select-option-icon:has(.flagIcon) {
            margin-left: 2px;
        }
    }
}

.kit-header-profile-tag {
    &#{&} {
        margin: convertToPixel(--general-spacing-none);
        background-color: var(--general-utilities-main-mainDeepDark);
        color: var(--general-utilities-text-textLight);
    }

    &:not(:first-child) {
        margin-left: convertToPixel(--general-spacing-xs);
    }
}

.kit-select-option-icon:has(.flagIcon) {
    background-color: transparent;
}
