@import '../../../css/mixins.scss';

:local(.kit-header) {
    --kit-header-height: 64px;

    display: flex;
    gap: convertToPixel(--general-spacing-s);
    padding-right: convertToPixel(--general-spacing-s);
    align-items: center;
    height: var(--kit-header-height);
    overflow: hidden;
    background: var(--general-utilities-light);
    width: 100%;
    box-sizing: border-box;

    .kit-header-menu {
        height: var(--kit-header-height);
        width: var(--kit-header-height);
        flex-grow: 0;
        flex-shrink: 0;
        background: var(--general-utilities-main-default);
        color: var(--kit-header-invert-color);
        padding: convertToPixel(--general-spacing-none);
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            background: var(--general-utilities-main-dark);
        }

        &:hover:not(:active) {
            background: var(--general-utilities-main-light);
            color: var(--general-utilities-main-default);
        }

        &:focus {
            box-shadow: inset 0 0 0 3px var(--general-utilities-focus);
        }
    }

    .kit-header-logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: calc(var(--kit-header-height) - (2 * (convertToPixel(--general-spacing-xs))));
        }
    }

    &:not(.with-menu) .kit-header-logo {
        padding-left: convertToPixel(--general-spacing-s);
    }

    .kit-header-content {
        grid-area: content;
        padding-left: convertToPixel(--general-spacing-s);
        justify-content: flex-start;
    }

    .kit-header-right-items {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: convertToPixel(--general-spacing-s);
    }

    .kit-header-profile {
        grid-area: profile;
        display: flex;
        gap: convertToPixel(--general-spacing-xs);
        padding: convertToPixel(--general-spacing-xxs) convertToPixel(--general-spacing-s);
        background-color: var(--general-colors-primary-50);
        align-items: center;
        border-radius: convertToPixel(--general-spacing-xs);
        border: 1px solid var(--general-colors-primary-50);

        &:active {
            background-color: var(--general-utilities-main-light);
            border: 1px solid var(--general-utilities-main-default);
        }

        &:hover,
        &.open {
            border: 1px solid var(--general-utilities-main-default);
        }

        &:focus,
        &:focus-visible {
            border-color: transparent;
            outline: none;
            box-shadow: 0 0 0 3px var(--general-utilities-focus);
        }

        &.with-menu {
            cursor: pointer;
        }

        .kit-header-profile-logo {
            height: 32px;
        }

        .kit-header-profile-complement {
            &:only-child {
                margin-left: 0;
                height: auto;
            }
        }
    }

    .kit-header-lang {
        grid-area: lang;

        .select {
            width: 130px;
        }

        .flagIcon {
            border-radius: convertToPixel(--general-border-radius-pills);
        }

        .kit-select-option-icon:has(.flagIcon) {
            margin-left: 2px;
        }
    }
}

.kit-header-profile-tag {
    &#{&} {
        margin: convertToPixel(--general-spacing-none);
    }

    &:not(:first-child) {
        margin-left: convertToPixel(--general-spacing-xs);
    }
}

.kit-select-option-icon:has(.flagIcon) {
    background-color: transparent;
}

.kit-header-menu-wrapper {
    padding: convertToPixel(--general-spacing-xs);
}

.kit-header-profile-menu-card {
    border: 1px solid var(--general-utilities-border);
    border-radius: convertToPixel(--general-border-radius-s);
    padding: convertToPixel(--general-spacing-xs);
    margin-bottom: convertToPixel(--general-spacing-xs);

    &.clickable {
        cursor: pointer;

        &:hover {
            border-color: var(--general-utilities-main-default);
        }
    }
}
