@import '../../../css/mixins.scss';

:local(.kit-empty) {
    @include svgColorsClasses();

    .fill-white {
        fill: var(--general-utilities-light);
    }

    &.ant-empty {
        .ant-empty-image {
            height: 200px;
        }

        &.default-render .ant-empty-image {
            height: 100px;
        }

        .empty-title {
            margin-block-start: convertToPixel(--general-spacing-s);
            margin-block-end: convertToPixel(--general-spacing-none);
        }
    }
}
