@import '../../../css/mixins.scss';

:local(.kit-item-list) {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: convertToPixel(--general-spacing-xs);
    margin: convertToPixel(--general-spacing-none);
    background-color: var(--components-ItemList-colors-background-default, var(--general-utilities-light));
    box-shadow: var(--general-utilities-shadow-light);
    border: 1px solid var(--components-ItemList-colors-border-default, var(--general-utilities-border));
    border-radius: convertToPixel(--components-ItemList-border-default, --general-border-radius-s);

    &:hover:not(.kit-item-list-disabled) {
        border: 1px solid var(--components-ItemList-colors-border-hover, var(--general-utilities-main-default));
    }

    & > .ant-checkbox-wrapper {
        padding-right: convertToPixel(--general-spacing-xs);
    }

    &:focus-visible:not(.kit-item-list-disabled) {
        border: 1px solid transparent;
        box-shadow: 0 0 0 3px var(--general-utilities-focus);
        outline: none;
    }

    &.kit-item-list-disabled {
        background-color: var(--general-utilities-neutral-light);
        cursor: not-allowed;
    }
}

:local(.kit-item-list-selected) {
    border: 1px solid var(--components-ItemList-colors-border-selected, var(--general-utilities-main-default));
}

:local(.kit-item-list-buttons) {
    display: flex;
}

:local(.kit-item-list-id-card) {
    flex-grow: 1;
}

:local(.kit-item-list-clickable) {
    cursor: pointer;
}
