@import '../../../css/mixins.scss';

:local(.kit-item-list) {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: convertToPixel(--general-spacing-xs);
    margin: 2px;
    background-color: var(
        --components-ItemList-colors-background-default,
        var(--general-colors-neutral-white)
    );
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid
        var(
            --components-ItemList-colors-border-default,
            var(--general-colors-secondary-mediumGrey-mediumGrey200)
        );
    border-radius: convertToPixel(--components-ItemList-border-default, --general-border-radius-s);

    &:hover:not(.kit-item-list-disabled) {
        margin: 1px;
        border: 2px solid
            var(
                --components-ItemList-colors-border-hover,
                var(--general-colors-primary-primary400)
            );
    }

    & > .ant-checkbox-wrapper {
        padding-right: 8px;
    }

    &:focus-visible:not(.kit-card-disabled) {
        margin: 0;
        border: 3px solid var(--general-colors-primary-primary200);
        outline: none;
    }

    &.kit-item-list-disabled {
        background-color: var(--general-colors-secondary-mediumGrey-mediumGrey100);
        cursor: not-allowed;
    }
}

:local(.kit-item-list-selected) {
    border: 1px solid
        var(
            --components-ItemList-colors-border-selected,
            var(--general-colors-primary-primary400)
    );
}

:local(.kit-item-list-buttons) {
    display: flex;
}

:local(.kit-item-list-id-card) {
    flex-grow: 1;
}

:local(.kit-item-list-clickable) {
    cursor: pointer;
}

