@import '../../../css/mixins.scss';

:local(.kit-divider) {
    font-size: convertToPixel(--components-divider-typography-fontSize, --general-typography-fontSize6);
    line-height: var(--components-divider-typography-lineHeight, var(--general-typography-lineHeight6));
    font-weight: var(--components-divider-typography-fontWeight, var(--general-typography-mediumfontWeight));

    &.ant-divider {
        border-color: var(--general-utilities-border);

        &.no-margin {
            margin: convertToPixel(--general-spacing-none);
        }
    }
}
