@mixin radioStyles() {
    & {
        font-weight: var(--components-Radio-typography-fontWeight, var(--general-typography-mediumfontWeight));
        font-size: convertToPixel(--components-Radio-typography-fontSize, --general-typography-fontSize5);
        line-height: var(--components-Radio-typography-lineHeight, var(--general-typography-lineHeight5));

        // Unchecked
        .ant-radio {
            .ant-radio-inner {
                border: 1px solid var(--components-Radio-colors-border-default, var(--general-utilities-border));
                background-color: var(--components-Radio-colors-background-default, var(--general-utilities-light));
            }

            .ant-radio-inner:after {
                transform: scale(0.6);
                visibility: hidden;
                background-color: var(--components-Radio-colors-bullet-default, var(--general-utilities-main-default));
            }
        }

        .ant-radio-checked::after {
            border-color: transparent;
        }

        &.ant-radio-wrapper-disabled .ant-radio .ant-radio-inner {
            border: 1px solid var(--components-Radio-colors-border-disabled, var(--general-utilities-border));
            background-color: var(
                --components-Radio-colors-background-disabled,
                var(--general-utilities-neutral-light)
            );

            &:after {
                background-color: var(--components-Radio-colors-bullet-disabled, var(--general-utilities-disabled));
            }
        }

        &.ant-radio-wrapper-danger:not(.ant-radio-wrapper-disabled) .ant-radio {
            .ant-radio-inner {
                border: 1px solid
                    var(--components-Radio-colors-border-danger-default, var(--general-utilities-error-default));
                background-color: var(
                    --components-Radio-colors-background-danger-default,
                    var(--general-utilities-error-light)
                );

                &:after {
                    background-color: var(
                        --components-Radio-colors-bullet-danger-default,
                        var(--general-utilities-error-default)
                    );
                }
            }

            .ant-radio-input:hover + .ant-radio-inner {
                border-color: var(--components-Radio-colors-border-danger-hover, var(--general-utilities-error-dark));
                background-color: var(
                    --components-Radio-colors-background-danger-hover,
                    var(--general-utilities-error-light)
                );

                &:after {
                    background-color: var(
                        --components-Radio-colors-bullet-danger-hover,
                        var(--general-utilities-error-dark)
                    );
                }
            }

            & + span {
                color: var(--general-utilities-text-error);
            }
        }

        &:not(.ant-radio-wrapper-danger):not(.ant-radio-wrapper-disabled) {
            .ant-radio-checked .ant-radio-inner {
                border-color: var(--components-Radio-colors-border-checked, var(--general-utilities-main-default));
                background-color: var(--components-Radio-colors-background-checked, var(--general-utilities-light));
            }

            .ant-radio-input:hover + .ant-radio-inner {
                border-color: var(--components-Radio-colors-border-hover, var(--general-utilities-main-dark));
                background-color: var(--components-Radio-colors-background-hover, var(--general-utilities-light));

                &:after {
                    background-color: var(--components-Radio-colors-bullet-hover, var(--general-utilities-main-dark));
                }
            }
        }

        .ant-radio-checked .ant-radio-inner:after {
            visibility: visible;
        }

        // Focus
        &:not(.ant-radio-wrapper-disabled) .ant-radio-input:focus + .ant-radio-inner {
            // TODO change to cards-border-stroke when available
            box-shadow: 0 0 0 2px var(--components-Radio-colors-border-focus, var(--general-utilities-focus));
        }

        &:not(.ant-radio-wrapper-disabled):not(.ant-radio-wrapper-danger) .ant-radio-input:focus + .ant-radio-inner {
            border-color: transparent;
        }

        &:not(.ant-radio-wrapper-disabled) .ant-radio-input:focus-within + .ant-radio-inner::after {
            transform: scale(0.52);
        }

        // active
        &:not(.ant-radio-wrapper-danger) {
            .ant-radio-disabled + span {
                color: var(--components-Radio-colors-typography-disabled, var(--general-utilities-text-disabled));
            }
        }

        .ant-radio-disabled {
            color: var(--components-Radio-colors-typography-disabled, var(--general-utilities-text-disabled));
        }

        &.ant-radio-wrapper-danger {
            .ant-radio {
                &.ant-radio-disabled + span {
                    color: var(
                        --components-Radio-colors-typography-danger-disabled,
                        var(--general-utilities-text-disabled)
                    );
                }
            }

            .ant-radio-input:hover:focus + .ant-radio-inner {
                background-color: var(--components-Radio-colors-background-hover, var(--general-utilities-light));
                border-color: transparent;
            }

            .ant-radio-input:focus + .ant-radio-inner {
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 2px
                    var(--components-Radio-colors-border-danger-focus, var(--general-utilities-error-errorMediul));

                background-color: var(--components-Radio-colors-background-default, var(--general-utilities-light));
                border-color: transparent;
            }
        }

        .ant-radio-checked + span {
            font-weight: var(--components-Radio-typography-fontWeight, var(--general-typography-mediumfontWeight));
        }
    }
}
