@import '../../../css/mixins.scss';

:local(.kit-icon) {
    padding: 8px;
    min-width: 16px;
    min-height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--components-Icon-colors-icon-default, var(--general-colors-neutral-typography-black));
    background-color: var(--components-Icon-colors-background-default, transparent);
    border-radius: convertToPixel(--components-Icon-border-radius-default, --general-border-radius-square);

    &.on {
        color: var(--components-Icon-colors-icon-on, var(--general-colors-primary-primary400));
        background-color: var(--components-Icon-colors-background-on, var(--general-colors-primary-primary100));
        border-radius: convertToPixel(--components-Icon-border-radius-on, --general-border-radius-s);
    }

    &.clickable {
        cursor: pointer;
    }
}