@import '../../../css/mixins.scss';

:local(.kit-page-header) {
    padding: convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-l);
    background: var(--components-Headercolors-background-default, var(--general-utilities-light));
    display: grid;
    grid-template-areas:
        'breadcrumb breadcrumb breadcrumb'
        'title search actions';
    grid-template-columns: min-content 1fr max-content;
    grid-template-rows: 1fr min-content;
    box-shadow: var(--general-utilities-shadow-light);
    min-height: 40px;

    .kit-page-header-title {
        grid-area: title;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-self: center;
        margin: convertToPixel(--general-spacing-none);
        margin-right: convertToPixel(--general-spacing-l);
    }

    .kit-page-header-search {
        grid-area: search;
        max-width: 422px;
    }

    .kit-page-header-breadcrumb {
        grid-area: breadcrumb;
        padding-top: convertToPixel(--general-spacing-xs);
    }

    .kit-page-header-actions {
        grid-area: actions;
        flex: 1 1 auto;
        align-items: center;
        justify-content: end;
        display: flex;
        padding-left: convertToPixel(--general-spacing-xs);
    }

    .kit-page-header-plus-button {
        width: 40px;
    }

    .kit-page-header-action-select {
        min-width: 75px;
    }
}
