@import '../../../css/mixins.scss';

:local(.kit-redirect-card) {
    --kit-redirect-card-transition: all 300ms;
    --kit-redirect-card-cover-border-radius: calc(var(--general-border-radius-s) - 1);

    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--general-utilities-border);
    border-radius: convertToPixel(--general-border-radius-s);
    padding: convertToPixel(--general-spacing-m) 0;
    transition: var(--kit-redirect-card-transition);

    &.kit-redirect-card-with-cover {
        padding-top: convertToPixel(--general-spacing-none);

        .kit-redirect-card-cover {
            display: flex;
            flex-direction: column;
            position: relative;

            img,
            .kit-redirect-card-actions-mask {
                border-top-left-radius: convertToPixel(--kit-redirect-card-cover-border-radius);
                border-top-right-radius: convertToPixel(--kit-redirect-card-cover-border-radius);
            }

            .kit-redirect-card-actions-mask {
                display: none;
                position: absolute;
                inset: 0px;
                opacity: 0;
                transition: var(--kit-redirect-card-transition);
                background-color: var(--general-utilities-main-deepDark);
            }

            .kit-redirect-card-actions {
                display: none;
                position: absolute;
                inset: 0px;
                text-align: center;
                align-content: center;

                & > button:not(:last-of-type) {
                    margin-right: convertToPixel(--general-spacing-s);
                }
            }
        }

        .ant-divider {
            transition: var(--kit-redirect-card-transition);
            border-width: 4px;
            padding-bottom: convertToPixel(--general-spacing-m);
        }

        .kit-redirect-card-content {
            display: flex;
            flex-direction: row;

            section {
                width: calc(100% - convertToPixel(--general-spacing-m) * 3 - 16px);
                padding-bottom: convertToPixel(--general-spacing-none);
                padding-right: convertToPixel(--general-spacing-none);
            }

            .kit-icon.kit-redirect-card-redirect-icon {
                align-self: center;
            }
        }
    }

    &:not(.kit-redirect-card-with-cover) .kit-redirect-card-actions {
        display: flex;
        align-self: end;
        gap: convertToPixel(--general-spacing-s);
        padding: 0 convertToPixel(--general-spacing-m) convertToPixel(--general-spacing-xs) 0;
    }

    &:focus {
        outline: none;
    }

    &.kit-redirect-card-disabled {
        background-color: var(--general-utilities-neutral-light);
        cursor: not-allowed;

        .kit-icon.kit-redirect-card-icon,
        .kit-icon.kit-redirect-card-redirect-icon {
            color: var(--general-utilities-text-disabled);
        }

        &.kit-redirect-card-cover .ant-divider {
            border-color: var(--general-utilities-disabled);
        }

        &.kit-redirect-card-with-cover.kit-redirect-card-with-actions:hover {
            .kit-redirect-card-actions-mask {
                display: block;
                opacity: 0.5;
                background-color: var(--general-utilities-disabled);
            }

            .kit-redirect-card-actions {
                display: block;
            }
        }
    }

    &:not(.kit-redirect-card-disabled) {
        &:hover {
            cursor: pointer;
            box-shadow: var(--general-utilities-shadow-light);
            border-color: var(--general-utilities-main-default);

            .kit-redirect-card-redirect-icon {
                transform: rotateZ(-45deg);
                color: var(--general-utilities-text-blue);
            }

            .ant-divider {
                border-color: var(--general-utilities-main-default);
            }

            &.kit-redirect-card-with-cover.kit-redirect-card-with-actions {
                .kit-redirect-card-actions-mask {
                    display: block;
                    opacity: 0.5;
                }

                .kit-redirect-card-actions {
                    display: block;
                }
            }
        }

        &:focus-visible {
            box-shadow: 0 0 0 3px var(--general-utilities-focus);

            .kit-redirect-card-redirect-icon {
                transform: rotateZ(-45deg);
                color: var(--general-utilities-text-blue);
            }
        }
    }

    .kit-redirect-card-content {
        display: flex;
        flex-direction: column;
    }

    section {
        padding-bottom: convertToPixel(--general-spacing-s);

        h3 {
            margin: convertToPixel(--general-spacing-none);
        }

        div.ant-typography {
            margin-bottom: convertToPixel(--general-spacing-none);
        }
    }

    section,
    .kit-icon.kit-redirect-card-icon,
    .kit-icon.kit-redirect-card-redirect-icon {
        padding-left: convertToPixel(--general-spacing-m);
        padding-right: convertToPixel(--general-spacing-m);
    }

    .kit-icon {
        padding: convertToPixel(--general-spacing-none);

        &.kit-redirect-card-icon {
            color: var(--general-utilities-text-blue);
            font-size: 48px;
            padding-bottom: convertToPixel(--general-spacing-s);
            align-self: start;
        }

        &.kit-redirect-card-redirect-icon {
            color: var(--general-utilities-text-primary);
            transition: var(--kit-redirect-card-transition);
            font-size: convertToPixel(--general-typography-fontSize2);
            align-self: end;
        }
    }
}
