@import '../../../css/mixins.scss';

:local(.kit-breadcrumb) {
    li:not(:last-child) a,
    li:not(:last-child) .ant-breadcrumb-link,
    li:not(:last-child) .ant-breadcrumb-link a {
        font-family: var(--components-Breadcrumblink-typography-fontFamily, var(--general-typography-fontFamily));
        font-weight: var(
            --components-Breadcrumblink-typography-fontWeight,
            var(--general-typography-regularFontWeight)
        );
        color: inherit;
    }

    li:not(:last-child) .ant-breadcrumb-link, .ant-breadcrumb-separator,  .ant-breadcrumb-overlay-link{
        color: var(--general-colors-primary-primary600);
    }

    li:last-child .ant-breadcrumb-link, li:last-child .ant-dropdown-trigger a, li:last-child .ant-dropdown-trigger .anticon {
            color: var(--general-colors-primary-primary400);
    }



}