@import '../../../css/mixins.scss';

.ant-notification .ant-notification-notice.ant-notification-notice-info {
    border-color: var(--components-Notification-colors-typography-message-info, var(--general-utilities-main-default));

    .ant-notification-notice-content .ant-notification-notice-message {
        color: var(--components-Notification-colors-typography-message-info, var(--general-utilities-text-blue));
    }

    .ant-notification-notice-close {
        color: var(--components-Notification-colors-icon-info, var(--general-utilities-text-blue));

        &:hover {
            background-color: var(
                --components-Notification-colors-icon-background-info,
                var(--general-utilities-main-light)
            );
        }
    }
}

.ant-notification .ant-notification-notice.ant-notification-notice-success {
    border-color: var(
        --components-Notification-colors-typography-message-success,
        var(--general-utilities-success-default)
    );

    .ant-notification-notice-content .ant-notification-notice-message {
        color: var(--components-Notification-colors-typography-message-success, var(--general-utilities-text-success));
    }

    .ant-notification-notice-close {
        color: var(--components-Notification-colors-icon-success, var(--general-utilities-text-success));

        &:hover {
            background-color: var(
                --components-Notification-colors-icon-background-success,
                var(--general-utilities-success-light)
            );
        }
    }
}

.ant-notification .ant-notification-notice.ant-notification-notice-error {
    border-color: var(
        --components-Notification-colors-typography-message-error,
        var(--general-utilities-error-default)
    );

    .ant-notification-notice-content .ant-notification-notice-message {
        color: var(--components-Notification-colors-typography-message-error, var(--general-utilities-text-error));
    }

    .ant-notification-notice-close {
        color: var(--components-Notification-colors-icon-error, var(--general-utilities-text-error));

        &:hover {
            background-color: var(
                --components-Notification-colors-icon-background-error,
                var(--general-utilities-error-light)
            );
        }
    }
}

.ant-notification .ant-notification-notice.ant-notification-notice-warning {
    border-color: var(
        --components-Notification-colors-typography-message-warning,
        var(--general-utilities-warning-default)
    );

    .ant-notification-notice-content .ant-notification-notice-message {
        color: var(--components-Notification-colors-typography-message-warning, var(--general-utilities-text-warning));
    }

    .ant-notification-notice-close {
        color: var(--components-Notification-colors-icon-warning, var(--general-utilities-text-warning));

        &:hover {
            background-color: var(
                --components-Notification-colors-icon-background-warning,
                var(--general-utilities-warning-light)
            );
        }
    }
}

.ant-notification {
    .ant-notification-notice-wrapper {
        .ant-notification-notice {
            padding: convertToPixel(--general-spacing-s);
        }
    }

    .ant-notification-notice {
        font-family: var(--components-Notification-typography-fontFamily, var(--general-typography-fontFamily));
        font-size: 10px;
        border-left: convertToPixel(--general-spacing-xs) transparent solid;
        border-radius: convertToPixel(--general-border-radius-s);

        .ant-notification-notice-with-icon {
            .ant-notification-notice-icon {
                font-size: calc(var(--general-typography-fontSize4) * 1px);
            }

            .ant-notification-notice-message {
                font-size: convertToPixel(
                    --components-Notification-typography-fontSize-message,
                    --general-typography-fontSize4
                );
                font-weight: var(
                    --components-Notification-typography-fontWeight-message,
                    var(--general-typography-mediumfontWeight)
                );
                margin-inline-start: convertToPixel(--general-spacing-xxl);
                padding-right: convertToPixel(--general-spacing-l);
            }
            .ant-notification-notice-description {
                margin-inline-start: convertToPixel(--general-spacing-xxl);
                font-size: convertToPixel(
                    --components-Notification-typography-fontSize-content,
                    --general-typography-fontSize5
                );
                line-height: var(--general-typography-lineHeight5);
                margin-bottom: 8px;
            }
        }

        .ant-notification-notice-close {
            position: absolute;
            display: flex;
            box-sizing: border-box;
            font-size: convertToPixel(--general-typography-fontSize5);
            height: 20px;
            min-width: 20px;
            padding: 11px convertToPixel(--general-spacing-none);
            justify-content: center;
            align-items: center;
            top: 20px;
            right: 20px;
            color: var(--components-Typography-colors-typography-default, var(--general-utilities-text-primary));
            border-radius: convertToPixel(--general-border-radius-s);

            &:hover {
                background-color: var(--general-utilities-neutral-light);
                cursor: pointer;
            }
        }
    }
}
