@import '../../../css/mixins.scss';

:local(.kit-notification) {
    position: relative;
    padding: convertToPixel(--general-spacing-s);
    width: 384px;
    max-width: calc(100vw - 48px);
    overflow: hidden;
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: convertToPixel(--general-spacing-xs);

    font-family: var(--components-Notification-typography-fontFamily, var(--general-typography-fontFamily));
    font-size: convertToPixel(--components-Notification-typography-fontSize-content, --general-typography-fontSize7);
    border-radius: convertToPixel(--general-border-radius-s);
    border-left: convertToPixel(--general-border-radius-s) solid transparent;
    box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .kit-notification-content {
        box-sizing: border-box;
        display: grid;
        grid-template: 'icon title' 'icon subtitle' 'icon message' 'buttons buttons';
        grid-template-columns: min-content 1fr;
    }

    &.kit-notification-info {
        border-color: var(
            --components-Notification-colors-typography-message-info,
            var(--general-utilities-main-mainColor)
        );

        .kit-notification-content .kit-notification-title {
            color: var(
                --components-Notification-colors-typography-message-info,
                var(--general-utilities-text-textBlue)
            );
        }

        .kit-notification-close {
            color: var(--components-Notification-colors-icon-info, var(--general-utilities-text-textBlue));

            &:hover {
                background-color: var(
                    --components-Notification-colors-icon-background-info,
                    var(--general-utilities-main-mainLight)
                );
            }
        }
    }

    &.kit-notification-success {
        border-color: var(
            --components-Notification-colors-typography-message-success,
            var(--general-utilities-success-successColor)
        );

        .kit-notification-content .kit-notification-title {
            color: var(
                --components-Notification-colors-typography-message-success,
                var(--general-utilities-text-textSuccess)
            );
        }

        .kit-notification-close {
            color: var(--components-Notification-colors-icon-success, var(--general-utilities-text-textSuccess));

            &:hover {
                background-color: var(
                    --components-Notification-colors-icon-background-success,
                    var(--general-utilities-success-successLight)
                );
            }
        }
    }

    &.kit-notification-error {
        border-color: var(
            --components-Notification-colors-typography-message-error,
            var(--general-utilities-error-errorColor)
        );

        .kit-notification-content .kit-notification-title {
            color: var(
                --components-Notification-colors-typography-message-error,
                var(--general-utilities-text-textError)
            );
        }

        .kit-notification-close {
            color: var(--components-Notification-colors-icon-error, var(--general-utilities-text-textError));

            &:hover {
                background-color: var(
                    --components-Notification-colors-icon-background-error,
                    var(--general-utilities-error-errorLight)
                );
            }
        }
    }

    &.kit-notification-warning {
        border-color: var(
            --components-Notification-colors-typography-message-warning,
            var(--general-utilities-warning-warningColor)
        );

        .kit-notification-content .kit-notification-title {
            color: var(
                --components-Notification-colors-typography-message-warning,
                var(--general-utilities-text-textWarning)
            );
        }

        .kit-notification-close {
            color: var(--components-Notification-colors-icon-warning, var(--general-utilities-text-textWarning));

            &:hover {
                background-color: var(
                    --components-Notification-colors-icon-background-warning,
                    var(--general-utilities-warning-warningLight)
                );
            }
        }
    }

    .kit-notification-icon {
        grid-area: icon;
        width: min-content;
        padding-right: convertToPixel(--general-spacing-s);
        font-size: convertToPixel(--general-typography-fontSize4);
    }

    .kit-notification-title {
        grid-area: title;
        padding-right: convertToPixel(--general-spacing-m);
        font-size: convertToPixel(
            --components-Notification-typography-fontSize-message,
            --general-typography-fontSize4
        );
        font-weight: var(
            --components-Notification-typography-fontWeight-message,
            var(--general-typography-mediumfontWeight)
        );
    }

    .kit-notification-subtitle {
        grid-area: subtitle;
        line-height: var(--general-typography-lineHeight7);
        color: var(--components-Notification-colors-typography-subtitle, --general-utilities-text-textPrimary);
        font-size: convertToPixel(
            --components-Notification-typography-fontSize-content,
            --general-typography-fontSize7
        );
        font-weight: var(
            --components-Notification-typography-fontWeight-message,
            var(--general-typography-regularFontWeight)
        );
    }

    .kit-notification-message {
        grid-area: message;
        margin-top: convertToPixel(--general-spacing-xs);
        font-size: convertToPixel(
            --components-Notification-typography-fontSize-content,
            --general-typography-fontSize5
        );
        font-weight: var(
            --components-Notification-typography-fontWeight-message,
            var(--general-typography-regularFontWeight)
        );
    }

    .kit-notification-close {
        position: absolute;
        display: flex;
        box-sizing: border-box;
        font-size: convertToPixel(--general-typography-fontSize5);
        height: 20px;
        min-width: 20px;
        padding: 11px convertToPixel(--general-spacing-none);
        justify-content: center;
        align-items: center;
        top: 20px;
        right: 20px;
        color: var(--components-Notification-colors-typography-subtitle, --general-utilities-text-textPrimary);
        border-radius: convertToPixel(--general-border-radius-s);

        &:hover {
            background-color: var(--general-utilities-neutral-neutralLight);
            cursor: pointer;
        }
    }

    .kit-notification-buttons {
        grid-area: buttons / span 2;
        margin-top: 12px;
        display: flex;
        justify-content: end;
    }
}
