@import '../../../css/mixins.scss';

:local(.kit-input-wrapper) {
    .kit-input-wrapper-label {
        margin-bottom: convertToPixel(--components-InputWrapper-gap-label, --general-spacing-xxs);
        display: flex;
        align-items: center;
        gap: calc(var(--general-spacing-xxs) * 1px);
    }

    .kit-input-wrapper-actions {
        display: flex;
        align-items: center;
        gap: calc(var(--general-spacing-xs) * 1px);
    }

    .kit-input-wrapper-helper {
        margin-top: convertToPixel(--components-InputWrapper-gap-helper, --general-spacing-xs);
    }

    .kit-input-wrapper-label,
    .kit-input-wrapper-helper {
        &,
        .ant-typography {
            color: var(--components-InputWrapper-colors-typography-default, var(--general-utilities-text-primary));
        }
    }

    .kit-input-wrapper-required {
        color: var(--components-InputWrapper-colors-typography-error, var(--general-utilities-text-error));
        padding-left: convertToPixel(--general-spacing-xxs);
        font-variant-position: super;
    }

    &.bordered .kit-input-wrapper-content {
        border: 1px solid var(--components-InputWrapper-colors-border-default, var(--general-utilities-border));
        border-radius: convertToPixel(--components-InputWrapper-border-radius, --general-border-radius-s);
        padding: 10px;
    }

    &.error {
        .kit-input-wrapper-label,
        .kit-input-wrapper-helper {
            &,
            .ant-typography {
                color: var(--components-InputWrapper-colors-typography-error, var(--general-utilities-text-error));
            }
        }

        .kit-input-wrapper-content {
            border-color: var(--components-InputWrapper-colors-border-error, var(--general-utilities-error-default));
        }
    }

    &.warning {
        .kit-input-wrapper-label,
        .kit-input-wrapper-helper {
            &,
            .ant-typography {
                color: var(--components-InputWrapper-colors-typography-warning, var(--general-utilities-text-warning));
            }
        }

        .kit-input-wrapper-content {
            border-color: var(
                --components-InputWrapper-colors-border-warning,
                var(--general-utilities-warning-default)
            );
        }
    }

    &.disabled {
        .kit-input-wrapper-label,
        .kit-input-wrapper-helper {
            &,
            .ant-typography {
                color: var(
                    --components-InputWrapper-colors-typography-disabled,
                    var(--general-utilities-text-disabled)
                );
            }
        }

        .kit-input-wrapper-required {
            color: var(--components-InputWrapper-colors-typography-disabled, var(--general-utilities-text-disabled));
        }

        .kit-input-wrapper-content {
            border-color: var(--components-InputWrapper-colors-border-disabled, var(--general-utilities-border));
        }
    }
}
