@import '../../../css/mixins.scss';

:local(.kit-input-number) {
    font-weight: var(
        --components-InputNumber-typography-placeholder-fontWeight,
        var(--general-typography-regularFontWeight)
    );
    font-size: convertToPixel(--components-InputNumber-typography-fontSize, --general-typography-fontSize5);
    border-radius: convertToPixel(--components-InputNumber-border-radius, --general-border-radius-s);
    height: 40px;
    line-height: 40px;

    .ant-input-number-input {
        font-weight: var(
            --components-InputNumber-typography-content-fontWeight,
            var(--general-typography-mediumfontWeight)
        );

        &::placeholder {
            font-weight: var(
                --components-InputNumber-typography-placeholder-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }
    }

    &:not(.ant-input-number-affix-wrapper) {
        line-height: 38px;

        .ant-input-number-input-wrap {
            border-radius: convertToPixel(--components-InputNumber-border-radius, --general-border-radius-s);
        }
    }

    &.ant-input-number-affix-wrapper.kit-input-number-affix-wrapper-focused,
    &.ant-input-number.kit-input-number-affix-wrapper-focused {
        border-color: transparent;
        // TODO change to cards-border-stroke when available
        box-shadow: 0 0 0 3px var(--components-InputNumber-colors-border-focus-default, var(--general-utilities-focus));

        &.ant-input::placeholder,
        .ant-input::placeholder {
            color: transparent;
        }
    }

    &.ant-input-number-focused,
    &.ant-input-number-affix-wrapper .ant-input-number-focused,
    &.ant-input-number-focused .ant-input-number-affix-wrapper {
        .ant-input-number-input::placeholder {
            color: transparent;
        }
    }

    &.ant-input-number-disabled,
    &.ant-input-number-affix-wrapper-disabled {
        border-color: var(--components-InputNumber-colors-border-disabled, var(--general-utilities-border));

        .ant-input-number-input {
            color: var(
                --components-InputNumber-colors-typography-content-disabled,
                var(--general-utilities-text-textDisabled)
            );

            &::placeholder {
                color: var(
                    --components-InputNumber-colors-typography-placeholder-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }
        }
    }

    &.ant-input-number-affix-wrapper {
        .ant-input-number-input-wrap {
            .ant-input-number-input {
                padding: convertToPixel(--general-spacing-none) 10px convertToPixel(--general-spacing-none)
                    convertToPixel(--general-spacing-none);
            }
        }

        .ant-input-number {
            height: 38px;
            line-height: 38px;
        }
    }

    .ant-input-number-input-wrap {
        border-radius: convertToPixel(--general-border-radius-square) convertToPixel(--general-border-radius-s)
            convertToPixel(--general-border-radius-s) convertToPixel(--general-border-radius-square);

        .ant-input-number-input {
            padding: convertToPixel(--general-spacing-none) 10px;
            border-radius: convertToPixel(--general-border-radius-square);
        }
    }

    &.ant-input-number-status-warning,
    &.ant-input-number-affix-wrapper-status-warning {
        .ant-input-number-input-wrap {
            background-color: var(
                --components-InputNumber-colors-background-warning,
                var(--general-utilities-warning-warningLight)
            );
        }

        .ant-input-number-input {
            color: var(
                --components-InputNumber-colors-typography-content-warning,
                var(--general-utilities-text-textWarning)
            );

            &::placeholder {
                color: var(
                    --components-InputNumber-colors-typography-content-warning,
                    var(--general-utilities-text-textWarning)
                );
            }
        }

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(
                --components-InputNumber-colors-border-warning,
                var(--general-utilities-warning-warningColor)
            );

            background-color: var(
                --components-InputNumber-colors-background-warning,
                var(--general-utilities-warning-warningLight)
            );

            &.ant-input-number-affix-wrapper.kit-input-number-affix-wrapper-focused,
            &.ant-input-number.kit-input-number-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(
                        --components-InputNumber-colors-border-focus-warning,
                        var(--general-utilities-warning-warningMedium)
                    );

                &:hover {
                    border-color: transparent;
                }
            }
        }
    }

    &.ant-input-number-status-error,
    &.ant-input-number-out-of-range,
    &.ant-input-number-affix-wrapper-status-error {
        .ant-input-number-input-wrap {
            background-color: var(
                --components-InputNumber-colors-background-error,
                var(--general-utilities-error-errorLight)
            );
        }

        .ant-input-number-input {
            color: var(
                --components-InputNumber-colors-typography-content-error,
                var(--general-utilities-text-textError)
            );

            &::placeholder {
                color: var(
                    --components-InputNumber-colors-typography-placeholder-error,
                    var(--general-utilities-text-textError)
                );
            }
        }

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(--components-InputNumber-colors-border-error, var(--general-utilities-error-errorColor));

            background-color: var(
                --components-InputNumber-colors-background-error,
                var(--general-utilities-error-errorLight)
            );

            &.ant-input-number-affix-wrapper.kit-input-number-affix-wrapper-focused,
            &.ant-input-number.kit-input-number-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-InputNumber-colors-border-focus-error, var(--general-utilities-error-errorMedium));

                &:hover {
                    border-color: transparent;
                }
            }
        }
    }
}
