@import '../../../css/mixins.scss';

:local(.kit-legacy-card) {
    font-family: var(--components-LegacyCard-typography-fontFamily, var(--general-typography-fontFamily));
    overflow: hidden;

    &.ant-card-bordered {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid var(--components-LegacyCard-colors-border-default, var(--general-colors-secondary-mediumGrey-mediumGrey200));

        &.disabled {
            border: 1px solid var(--components-LegacyCard-colors-border-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey200));
        }

        &:focus,
        &:focus-visible,
        &:focus-within {
            border: 1px dashed var(--components-LegacyCard-colors-border-focus, var(--general-colors-primary-primary400));
            box-shadow: 0 0 16px 0
                var(--components-LegacyCard-colors-shadow-focus, var(--general-colors-primary-primary100));
            &.disabled {
                border: 1px dashed var(--components-LegacyCard-colors-border-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey200));
            }
        }

        &:hover {
            border: 1px solid var(--components-LegacyCard-colors-border-hover, var(--general-colors-primary-primary400));
            box-shadow: 0 0 24px 0 var(--components-LegacyCard-colors-shadow-hover, var(--general-colors-primary-primary100));

            &.disabled {
                border: 1px solid var(--components-LegacyCard-colors-border-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey200));
                box-shadow: 0 0 24px 0 var(--components-LegacyCard-colors-shadow-disabled, var(--general-colors-primary-primary100));
            }
        }
    }

    &.ant-card {
        .ant-card-head {
            padding: 24px 16px;
            border-bottom: none;
            background-color: var(--components-LegacyCard-colors-background-default, none);

            .ant-card-head-wrapper {
                gap: 16px;

                .ant-card-head-title {
                    color: var(--components-LegacyCard-colors-typography-headerTitle-default, var(--general-colors-primary-primary400));
                    font-size: convertToPixel(
                        --components-LegacyCard-typography-headerTitle-fontSize,
                        --general-typography-fontSize3
                    );
                    font-weight: var(
                        --components-LegacyCard-typography-headerTitle-fontWeight,
                        var(--general-typography-boldFontWeight)
                    );
                }
            }
        }

        .ant-card-cover {
            height: 252px;
            overflow: hidden;
            background-color:var(--components-LegacyCard-colors-background-default, none);

            & img {
                border-radius: 0;
            }
        }

        .ant-card-body {
            padding: 24px 16px;
            background-color: -var(--components-LegacyCard-colors-background-default, none);
        }

        .card-content-title {
            color: var(--components-LegacyCard-colors-typography-contentTitle-default, var(--general-colors-primary-primary400));
            font-size: convertToPixel(
                --components-LegacyCard-typography-contentTitle-fontSize,
                --general-typography-fontSize2
            );
            font-weight: var(
                --components-LegacyCard-typography-contentTitle-fontWeight,
                var(--general-typography-boldFontWeight)
            );
            line-height: normal;
        }

        .card-content-description {
            color: var(--components-LegacyCard-colors-typography-description-default, var(--general-colors-neutral-typography-black));
            font-size: convertToPixel(
                --components-LegacyCard-typography-description-fontSize,
                --general-typography-fontSize5
            );
            line-height: normal;
            font-weight: var(
                --components-LegacyCard-typography-description-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }

        .ant-card-cover {
            margin-top: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

        .ant-card-actions {
            border-top: none;
            background-color: var(--components-LegacyCard-colors-background-default, none);

            & > li:not(:last-child) {
                border-color: var(--components-LegacyCard-colors-actions-default, var(--general-colors-secondary-mediumGrey-mediumGrey500));
            }

            & li svg {
                color: var(--components-LegacyCard-colors-actions-default, var(--general-colors-secondary-mediumGrey-mediumGrey500));

                &:hover {
                    cursor: inherit;
                    color: var(--components-LegacyCard-colors-actions-hover, var(--general-colors-primary-primary400));
                }
            }
        }

        .kit-card-cover {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        .kit-card-content-title-icon {
            color: var(--components-LegacyCard-colors-typography-contentTitle-default, var(--general-colors-primary-primary400));
            font-size: convertToPixel(
                --components-LegacyCard-typography-linkIcon-fontSize,
                --general-typography-fontSize3
            );
            padding: 0;
        }

        .kit-card-extra {
            color: var(--components-LegacyCard-colors-typography-extra-default, var(--general-colors-primary-primary400));

            &:hover {
                color: var(--components-LegacyCard-colors-typography-extra-hover, var(--general-colors-primary-primary300));
                cursor: cursor;
            }
        }

        .content-title-container {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: inherit;

            &.content-title-click {
                cursor: pointer;
            }
        }
    }

    &.ant-card.separator .ant-card-head {
        border-bottom: 1px solid var(--components-LegacyCard-colors-separator-default, var(--general-colors-secondary-mediumGrey-mediumGrey200));
    }

    &.ant-card.disabled {
        .ant-card-head {
            background-color: var(--components-LegacyCard-colors-background-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey100));

            .ant-card-head-wrapper .ant-card-head-title {
                color: var(--components-LegacyCard-colors-typography-headerTitle-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey400));
            }
        }

        .ant-card-cover {
            background-color: var(--components-LegacyCard-colors-background-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey100));
        }

        .ant-card-body {
            padding: 24px 16px;
            background-color: var(--components-LegacyCard-colors-background-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey100));
        }

        .card-content-title {
            color: var(--components-LegacyCard-colors-typography-contentTitle-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey400));
        }

        .card-content-description {
            color: var(--components-LegacyCard-colors-typography-description-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey300));
        }

        .ant-card-actions {
            background-color: var(--components-LegacyCard-colors-background-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey100));
            & > li:not(:last-child) {
                border-color: var(--components-LegacyCard-colors-actions-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey300));
            }

            & li svg {
                color:var(--components-LegacyCard-colors-actions-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey300));

                &:hover {
                    cursor: not-allowed;
                    color: var(--components-LegacyCard-colors-actions-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey300));
                }
            }
        }
        .kit-card-cover {
            opacity: 0.4;
        }

        .kit-card-content-title-icon {
            color: var(--components-LegacyCard-colors-typography-contentTitle-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey400));
        }

        .kit-card-extra {
            color: var(--components-LegacyCard-colors-typography-extra-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey400));

            &:hover {
                color: var(--components-LegacyCard-colors-typography-extra-disabled, var(--general-colors-secondary-mediumGrey-mediumGrey400));
                cursor: not-allowed
            }
        }

        .content-title-container {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: not-allowed;
        }
    }
}

