@import '../../../css/mixins.scss';

:local(.kit-error) {
    @include svgColorsClasses();

    padding: convertToPixel(--general-spacing-veryHuge) convertToPixel(--general-spacing-none);

    &.ant-empty {
        .ant-empty-image {
            height: unset;
            margin-bottom: convertToPixel(--general-spacing-xl);
        }

        .error-title {
            margin-block-start: convertToPixel(--general-spacing-none);
            margin-block-end: convertToPixel(--general-spacing-none);
        }
    }
}
