@import '../../../css/mixins.scss';

 .ant-picker-dropdown {
        border-radius: convertToPixel(--components-DatePicker-border-radius, --general-border-radius-s);
        font-size: convertToPixel(--components-DatePicker-typography-fontSize, --general-typography-fontSize5);
        ul.ant-picker-ranges {
            margin-block-start: 0px;
        }

        .ant-picker-now .ant-picker-now-btn {
            color: var(--components-DatePicker-DropDown-colors-button-now-typography-default,var(
                --general-colors-primary-primary400
            ));

            &:hover {
                color: var(--components-DatePicker-DropDown-colors-button-now-typography-hover,var(
                    --general-colors-primary-primary500
                ));
            }
        }

        .ant-picker-ok button {
            border-radius: 20px;
            padding: 0px 8px;
            box-shadow: none;

            background-color: var(--components-DatePicker-DropDown-colors-button-ok-background-default,var(
                --general-colors-primary-primary400
            ));
            border-color: var(--components-DatePicker-DropDown-colors-button-ok-border-default,var(
                --general-colors-primary-primary400
            ));
            color: var(--components-DatePicker-DropDown-colors-button-ok-typography-default,var(
                --general-colors-neutral-typography-white
            ));

            &:hover:not(.ant-btn-disabled) {
                background-color: var(--components-DatePicker-DropDown-colors-button-ok-background-hover,var(
                    --general-colors-primary-primary500
                ));
                border-color: var(--components-DatePicker-DropDown-colors-button-ok-border-hover,var(
                    --general-colors-primary-primary500
                ));
            }

            &:active:not(.ant-btn-disabled) {
                background-color: var(--components-DatePicker-DropDown-colors-button-ok-background-active,var(
                    --general-colors-primary-primary600
                ));
                border-color: var(--components-DatePicker-DropDown-colors-button-ok-border-active,var(
                    --general-colors-primary-primary600
                ));
            }

            &[disabled] {
                background-color: var(--components-DatePicker-DropDown-colors-button-ok-background-disabled,var(
                    --general-colors-primary-primary100
                ));
                border-color: var(--components-DatePicker-DropDown-colors-button-ok-border-disabled,var(
                    --general-colors-primary-primary100
                ));
                color: var(--components-DatePicker-DropDown-colors-button-ok-typography-disabled,var(
                    --general-colors-primary-primary200
                ));
            }
        }
    }