@import '../../../css/mixins.scss';

:local(.kit-datepicker) {
    &.ant-picker {
        font-size: convertToPixel(--components-DatePicker-typography-fontSize, --general-typography-fontSize5);
        height: 40px;
        padding: convertToPixel(--general-spacing-none) 12px convertToPixel(--general-spacing-none)
            convertToPixel(--general-spacing-xs);
        min-width: 165px;
        font-weight: var(
            --components-DatePicker-typography-fontWeight-placeholder,
            var(--general-typography-regularFontWeight)
        );
        border-radius: convertToPixel(--components-DatePicker-border-radius, --general-border-radius-s);

        .ant-picker-input {
            display: grid;
            grid-template-areas: 'icon input clear';
            grid-template-columns: 28px 1fr 12px;

            input {
                grid-area: input;
                font-weight: var(
                    --components-DatePicker-typography-fontWeight-content,
                    var(--general-typography-mediumfontWeight)
                );
                font-family: var(--components-DatePicker-typography-fontFamily, var(--general-typography-fontFamily));

                &::placeholder {
                    font-weight: var(
                        --components-DatePicker-typography-fontWeight-placeholder,
                        var(--general-typography-regularFontWeight)
                    );
                }
            }

            .ant-picker-suffix {
                grid-area: icon;
                opacity: 1;
                color: var(--components-DatePicker-colors-icon-default, var(--general-utilities-text-primary));
            }

            .ant-picker-clear {
                grid-area: clear;
                font-size: convertToPixel(--general-typography-fontSize7);
                position: initial;
                top: initial;
                line-height: 1;
                transform: none;
                transition: none;
                opacity: 1;
                color: var(--components-DatePicker-colors-clearIcon-default, var(--general-utilities-text-primary));
            }
        }

        &.ant-picker-disabled {
            border-color: var(--components-DatePicker-colors-border-disabled, var(--general-utilities-border));

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-colors-typography-content-disabled,
                        var(--general-utilities-text-disabled)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-colors-typography-placeholder-disabled,
                            var(--general-utilities-text-disabled)
                        );
                    }
                }

                .ant-picker-suffix {
                    color: var(--components-DatePicker-colors-icon-disabled, var(--general-utilities-text-disabled));
                }

                .ant-picker-clear {
                    color: var(
                        --components-DatePicker-colors-clearIcon-disabled,
                        var(--general-utilities-text-disabled)
                    );
                }
            }
        }

        &.ant-picker-status-warning:not(.ant-picker-disabled) {
            background-color: var(
                --components-DatePicker-colors-background-warning,
                var(--general-utilities-warning-light)
            );
            border-color: var(--components-DatePicker-colors-border-warning, var(--general-utilities-warning-default));
            box-shadow: none;

            &.ant-picker-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-DatePicker-colors-border-focus-warning, var(--general-utilities-warning-medium));

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                background-color: var(
                    --components-DatePicker-colors-background-warning,
                    var(--general-utilities-warning-light)
                );
                border-color: var(
                    --components-DatePicker-colors-border-warning,
                    var(--general-utilities-warning-default)
                );
            }

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-colors-typography-content-warning,
                        var(--general-utilities-text-warning)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-colors-typography-placeholder-warning,
                            var(--general-utilities-text-warning)
                        );
                    }
                }

                .ant-picker-suffix {
                    color: var(--components-DatePicker-colors-icon-warning, var(--general-utilities-text-warning));
                }

                .ant-picker-clear {
                    color: var(--components-DatePicker-colors-clearIcon-warning, var(--general-utilities-text-warning));
                }
            }
        }

        &.ant-picker-status-error:not(.ant-picker-disabled) {
            background-color: var(
                --components-DatePicker-colors-background-error,
                var(--general-utilities-error-light)
            );
            border-color: var(--components-DatePicker-colors-border-error, var(--general-utilities-error-default));
            box-shadow: none;

            &.ant-picker-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-DatePicker-colors-border-focus-error, var(--general-utilities-error-medium));

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                background-color: var(
                    --components-DatePicker-colors-background-error,
                    var(--general-utilities-error-light)
                );
                border-color: var(--components-DatePicker-colors-border-error, var(--general-utilities-error-default));
            }

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-colors-typography-content-error,
                        var(--general-utilities-text-error)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-colors-typography-placeholder-error,
                            var(--general-utilities-text-error)
                        );
                    }
                }

                .ant-picker-suffix {
                    color: var(--components-DatePicker-colors-icon-error, var(--general-utilities-text-error));
                }

                .ant-picker-clear {
                    color: var(--components-DatePicker-colors-clearIcon-error, var(--general-utilities-text-error));
                }
            }
        }

        &.ant-picker-focused {
            border-color: transparent;
            // TODO change to cards-border-stroke when available
            box-shadow: 0 0 0 3px
                var(--components-DatePicker-colors-border-focus-default, var(--general-utilities-focus));

            &:not(.ant-picker-disabled) .ant-picker-input input::placeholder {
                color: transparent;
            }
        }

        &.kit-picker-readonly {
            height: fit-content;

            .ant-picker-input input,
            .ant-picker-input input::placeholder,
            .ant-picker-input .ant-picker-suffix {
                font-weight: var(--general-typography-boldFontWeight);
                color: var(--general-utilities-text-primary);
                cursor: default;
            }

            &.ant-picker-status-error {
                input,
                input::placeholder,
                .ant-picker-suffix {
                    color: var(--general-utilities-text-error);
                }
            }
        }
    }
}

:local(.kit-rangepicker) {
    &.ant-picker.ant-picker-range {
        font-size: convertToPixel(--components-DatePicker-typography-fontSize, --general-typography-fontSize5);
        border-radius: convertToPixel(--components-DatePicker-border-radius, --general-border-radius-s);
        display: grid;
        grid-template-areas: 'icon input1 separator input2 clear';
        grid-template-columns: 28px 1fr 28px 1fr 12px;
        height: 40px;
        min-width: 270px;
        padding: convertToPixel(--general-spacing-none) 12px convertToPixel(--general-spacing-none)
            convertToPixel(--general-spacing-xs);
        font-weight: var(
            --components-DatePicker-RangePicker-typography-fontWeight-placeholder,
            var(--general-typography-regularFontWeight)
        );

        .ant-picker-range-separator {
            grid-area: separator;

            svg {
                color: var(
                    --components-DatePicker-RangePicker-colors-separator-default,
                    var(--general-utilities-text-primary)
                );

                font-size: convertToPixel(--general-typography-fontSize7);
            }
        }

        .ant-picker-active-bar {
            display: none;
        }

        .ant-picker-input {
            &:nth-child(1) {
                grid-area: input1;
            }

            &:nth-child(2) {
                grid-area: input2;
            }
        }

        .ant-picker-input {
            input {
                font-weight: var(
                    --components-DatePicker-RangePicker-typography-fontWeight-content,
                    var(--general-typography-mediumfontWeight)
                );
                font-family: var(
                    --components-DatePicker-RangePicker-typography-fontFamily,
                    var(--general-typography-fontFamily)
                );

                &::placeholder {
                    font-weight: var(
                        --components-DatePicker-RangePicker-typography-fontWeight-placeholder,
                        var(--general-typography-regularFontWeight)
                    );
                }
            }
        }

        .ant-picker-suffix {
            grid-area: icon;
            opacity: 1;
            color: var(--components-DatePicker-RangePicker-colors-icon-default, var(--general-utilities-text-primary));
        }

        .ant-picker-clear {
            grid-area: clear;
            font-size: convertToPixel(--general-typography-fontSize7);
            position: initial;
            top: initial;
            line-height: 1;
            transform: none;
            transition: none;
            opacity: 1;
            color: var(
                --components-DatePicker-RangePicker-colors-clearIcon-default,
                var(--general-utilities-text-primary)
            );
        }

        .ant-picker-input {
            input[disabled] {
                color: var(
                    --components-DatePicker-RangePicker-colors-typography-content-disabled,
                    var(--general-utilities-text-disabled)
                );
            }
        }

        &.ant-picker-disabled {
            border-color: var(
                --components-DatePicker-RangePicker-colors-border-disabled,
                var(--general-utilities-border)
            );

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-RangePicker-colors-typography-content-disabled,
                        var(--general-utilities-text-disabled)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-RangePicker-colors-typography-placeholder-disabled,
                            var(--general-utilities-text-disabled)
                        );
                    }
                }
            }

            .ant-picker-range-separator svg {
                color: var(
                    --components-DatePicker-RangePicker-colors-separator-disabled,
                    var(--general-utilities-text-disabled)
                );
            }

            .ant-picker-suffix {
                color: var(
                    --components-DatePicker-RangePicker-colors-icon-disabled,
                    var(--general-utilities-text-disabled)
                );
            }

            .ant-picker-clear {
                color: var(
                    --components-DatePicker-RangePicker-colors-clearIcon-disabled,
                    var(--general-utilities-text-disabled)
                );
            }
        }

        &.ant-picker-status-warning:not(.ant-picker-disabled) {
            background-color: var(
                --components-DatePicker-RangePicker-colors-background-warning,
                var(--general-utilities-warning-light)
            );
            border-color: var(
                --components-DatePicker-RangePicker-colors-border-warning,
                var(--general-utilities-warning-default)
            );
            box-shadow: none;

            &.ant-picker-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-DatePicker-colors-border-focus-warning, var(--general-utilities-warning-medium));

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                background-color: var(
                    --components-DatePicker-RangePicker-colors-background-warning,
                    var(--general-utilities-warning-light)
                );
                border-color: var(
                    --components-DatePicker-RangePicker-colors-border-warning,
                    var(--general-utilities-warning-default)
                );
            }

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-RangePicker-colors-typography-content-warning,
                        var(--general-utilities-text-warning)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-RangePicker-colors-typography-placeholder-warning,
                            var(--general-utilities-text-warning)
                        );
                    }
                }
            }

            .ant-picker-range-separator svg {
                color: var(
                    --components-DatePicker-RangePicker-colors-separator-warning,
                    var(--general-utilities-text-warning)
                );
            }

            .ant-picker-suffix {
                color: var(
                    --components-DatePicker-RangePicker-colors-icon-warning,
                    var(--general-utilities-text-warning)
                );
            }

            .ant-picker-clear {
                color: var(
                    --components-DatePicker-RangePicker-colors-clearIcon-warning,
                    var(--general-utilities-text-warning)
                );
            }
        }

        &.ant-picker-status-error:not(.ant-picker-disabled) {
            background-color: var(
                --components-DatePicker-RangePicker-colors-background-error,
                var(--general-utilities-error-light)
            );
            border-color: var(
                --components-DatePicker-RangePicker-colors-border-error,
                var(--general-utilities-error-default)
            );
            box-shadow: none;

            &.ant-picker-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-DatePicker-colors-border-focus-error, var(--general-utilities-error-medium));

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                background-color: var(
                    --components-DatePicker-RangePicker-colors-background-error,
                    var(--general-utilities-error-light)
                );
                border-color: var(
                    --components-DatePicker-RangePicker-colors-border-error,
                    var(--general-utilities-error-default)
                );
            }

            .ant-picker-input {
                input {
                    color: var(
                        --components-DatePicker-RangePicker-colors-typography-content-error,
                        var(--general-utilities-text-error)
                    );

                    &::placeholder {
                        color: var(
                            --components-DatePicker-RangePicker-colors-typography-placeholder-error,
                            var(--general-utilities-text-error)
                        );
                    }
                }
            }

            .ant-picker-range-separator svg {
                color: var(
                    --components-DatePicker-RangePicker-colors-separator-error,
                    var(--general-utilities-text-error)
                );
            }

            .ant-picker-suffix {
                color: var(--components-DatePicker-RangePicker-colors-icon-error, var(--general-utilities-text-error));
            }

            .ant-picker-clear {
                color: var(
                    --components-DatePicker-RangePicker-colors-clearIcon-error,
                    var(--general-utilities-text-error)
                );
            }
        }

        &.ant-picker-focused {
            border-color: transparent;
            // TODO change to cards-border-stroke when available
            box-shadow: 0 0 0 3px
                var(--components-DatePicker-colors-border-focus-default, var(--general-utilities-focus));

            &:not(.ant-picker-disabled) .ant-picker-input:focus-within input::placeholder {
                color: transparent;
            }
        }

        &.kit-picker-readonly {
            height: fit-content;

            .ant-picker-input input,
            .ant-picker-input input::placeholder,
            .ant-picker-range-separator .ant-picker-separator,
            .ant-picker-suffix {
                font-weight: var(--general-typography-boldFontWeight);
                color: var(--general-utilities-text-primary);
                cursor: default;
            }

            &.ant-picker-status-error {
                input::placeholder {
                    color: var(--general-utilities-text-error);
                }

                input,
                .ant-picker-suffix,
                svg {
                    color: var(--general-utilities-text-error);
                }
            }
        }
    }
}
