@import '../../../css/mixins.scss';

:local(.kit-item-card) {
    display: grid;
    padding: 16px;
    font-family: var(--component-ItemCard-card-typography-fontFamily, var(--general-typography-fontFamily));
    background: var(
        --component-ItemCard-card-colors-background-default,
        var(--general-colors-neutral-white)
    );
    border-radius: convertToPixel(--components-ItemCard-card-border-radius, --general-border-radius-s);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    min-width: 248px;
    width: 248px;
    border: 1px solid
        var(
            --component-ItemCard-card-colors-border-default,
            var(--general-colors-secondary-mediumGrey-mediumGrey200)
        );

    &:not(.kit-card-disabled):hover {
        border: 1px solid
            var(--component-ItemCard-card-colors-border-hover, var(--general-colors-primary-primary400));
    }

    .kit-card-select-button-wrapper {
        line-height: 1.2;
        font-size: 0.6rem;
    }

    &:not(.kit-card-disabled) {
        .kit-card-select-button {
            border-radius: 3.5px;
            font-size: 0.6rem;
            padding: 0;
            width: 16px;
            height: 16px;
            min-width: 16px;
            color: var(
                --component-ItemCard-select-colors-typography-default,
                var(--general-colors-primary-primary400)
            );
        }
    }

    &.kit-card-disabled {
        background: var(
            --component-ItemCard-card-colors-background-disabled,
            var(--general-colors-secondary-mediumGrey-mediumGrey100)
        );
        pointer-events: none;

        .kit-card-data {
            .kit-card-title {
                color: var(
                    --component-ItemCard-title-colors-typography-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }
            .kit-card-desc {
                color: var(
                    --component-ItemCard-description-colors-typography-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }
            .kit-card-footer {
                color: var(
                    --component-ItemCard-footer-colors-typography-disabled,
                    var(--general-colors-secondary-mediumGrey-mediumGrey400)
                );
            }
        }

        .kit-card-select-button {
            border-radius: 3.5px;
            font-size: 0.6rem;
            background: var(
                --component-ItemCard-select-colors-background-disabled,
                var(--general-colors-secondary-mediumGrey-mediumGrey100)
            );
            padding: 0;
            width: 16px;
            height: 16px;
            min-width: 16px;
            color: var(
                --component-ItemCard-select-colors-typography-disabled,
                var(--general-colors-secondary-mediumGrey-mediumGrey400)
            );
        }

        .kit-card-tags .ant-tag,
        .kit-card-icon {
            opacity: 0.4;
        }
    }

    &.kit-card-vertical {
        grid-template:
            'picto picto'
            'select colors'
            'content content';
        grid-template-columns: max-content 1fr;

        .kit-card-select,
        .kit-card-image,
        .kit-card-icon,
        .kit-card-colorbar {
            margin-bottom: 8px;
        }

        .kit-card-colorbar {
            align-self: center;
        }

        .kit-card-image,
        .kit-card-icon,
        .kit-card-icon .kit-icon {
            width: 100%;
            height: 80px;
        }

        .kit-card-select {
            grid-auto-columns: min-content;
            column-gap: 8px;
            margin-right: 8px;
            display: flex;
            flex-direction: row;
        }
    }

    &.kit-card-horizontal {
        grid-template: 'select picto colors content';
        grid-template-columns: min-content min-content min-content 1fr;

        .kit-card-select,
        .kit-card-image,
        .kit-card-icon,
        .kit-card-colorbar {
            margin-right: 8px;
        }

        .kit-card-select {
            grid-auto-rows: min-content;
            row-gap: 8px;
        }

        .kit-card-image,
        .kit-card-icon .kit-icon {
            width: 64px;
        }

        .kit-card-icon .kit-icon {
            height: 64px;
        }

        .kit-card-colorbar {
            height: 60px;
            flex-basis: 1fr;
        }
    }

    .kit-card-select,
    .kit-card-image,
    .kit-card-picto,
    .kit-card-colorbar {
        flex: 0 0 auto;
    }

    .kit-card-select {
        grid-area: select;
        display: grid;
    }

    .kit-card-image {
        grid-area: picto;
        height: 64px;
        border-radius: convertToPixel(--components-ItemCard-image-border-radius, --general-border-radius-s);
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 1px solid
            var(--component-ItemCard-image-colors-border-default, var(--general-colors-neutral-black60));

        .kit-card-image-image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .kit-card-icon {
        grid-area: picto;
        height: 64px;
        width: 64px;
        border-radius: convertToPixel(--components-ItemCard-icon-border-radius, --general-border-radius-s);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 1px solid
            var(--component-ItemCard-icon-colors-border-default, var(--general-colors-neutral-black60));

        &.noBorder {
            border-color: transparent;
        }

        svg {
            font-size: 2rem;
            text-align: center;
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .kit-icon {
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }

        .avatar-full {
            width: 100%;
            height: 100%;
            border-radius: 0;
            display: flex;
            align-items: center;
        }
    }

    .kit-card-colorbar {
        grid-area: colors;
    }

    .kit-card-data {
        grid-area: content;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > :not(:last-child) {
            margin-bottom: 5px;
        }

        .kit-card-description-container {
            position: relative;
        }

        .kit-card-title {
            font-size: convertToPixel(
                --components-ItemCard-title-typography-fontSize,
                --general-typography-fontSize6
            );
            font-weight: var(
                --component-ItemCard-title-typography-fontWeight,
                var(--general-typography-boldFontWeight)
            );
            color: var(
                --component-ItemCard-title-colors-typography-default,
                var(--general-colors-primary-primary600)
            );
        }
        .kit-card-desc {
            font-size: convertToPixel(
                --components-ItemCard-description-typography-fontSize,
                --general-typography-fontSize5
            );
            font-weight: var(
                --component-ItemCard-description-typography-fontWeight,
                var(--general-typography-regularFontWeight)
            );
            color: var(
                --component-ItemCard-description-colors-typography-default,
                var(--general-colors-primary-primary600)
            );

            .ant-typography-expand {
                visibility: hidden;
            }
        }
        .kit-card-footer {
            font-size: convertToPixel(
                --components-ItemCard-footer-typography-fontSize,
                --general-typography-fontSize5
            );
            font-weight: var(
                --component-ItemCard-footer-typography-fontWeight,
                var(--general-typography-boldFontWeight)
            );
            color: var(
                --component-ItemCard-footer-colors-typography-default,
                var(--general-colors-primary-primary600)
            );
        }

        .kit-card-description-collexp {
            color: var(
                --component-ItemCard-expend-colors-typography-default,
                var(--general-colors-secondary-mediumGrey-mediumGrey400)
            );

            &:hover {
                color: var(
                    --component-ItemCard-expend-colors-typography-hover,
                    var(--general-colors-primary-primary400)
                );
            }

            &.kit-card-description-collapse {
                float: right;
            }

            &.kit-card-description-expand {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }

    &.kit-card-disabled {
        .kit-card-data .kit-card-description-collexp {
            color: var(
                --component-ItemCard-expend-colors-typography-disabled,
                var(--general-colors-primary-primary600)
            );
        }

        &.kit-card-disabled .kit-card-image {
            opacity: 0.5;
        }
    }
}

:local(.kit-color-bar) {
    width: auto;
    height: convertToPixel(--components-ItemCard-colorBar-thickness, 8);
    border-radius: convertToPixel(--components-ItemCard-colorBar-border-radius, --general-border-radius-s);
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &.column {
        width: convertToPixel(--components-ItemCard-colorBar-thickness, 8);
        height: auto;
        flex-direction: column;
    }

    > div {
        flex: 1 1 auto;
    }
}