@import '../../../css/mixins.scss';

:local(.kit-upload) {
    &.ant-upload-wrapper {
        &.ant-upload-picture-card-wrapper {
            .ant-upload.ant-upload-select {
                height: 104px;
                width: 104px;
                border-radius: var(--general-border-radius-xxs);
                border-color: var(
                    --components-Upload-colors-card-border-default,
                    var(--general-utilities-main-default)
                );
                background-color: var(
                    --components-Upload-colors-card-background-default,
                    var(--general-utilities-neutral-light)
                );
            }

            .ant-upload-list.ant-upload-list-picture-card {
                .ant-upload-list-item {
                    border-radius: var(--general-border-radius-xxs);
                    border: 1px solid
                        var(--components-Upload-colors-list-border-default, var(--general-utilities-border));

                    &:hover::before {
                        width: 86px;
                        height: 86px;
                        background-color: var(--components-Upload-colors-list-preview-hover, rgba(6, 32, 100, 0.5));
                    }

                    &.ant-upload-list-item-uploading {
                        border: 1px dashed
                            var(--components-Upload-colors-list-border-uploading, var(--general-utilities-main-default));
                    }
                }
                .ant-upload-list-item-container {
                    height: 104px;
                    width: 104px;
                }
                .ant-upload-list-item-thumbnail img {
                    height: 86px;
                    width: 86px;
                }
                .ant-upload-list-item-error {
                    border-color: var(
                        --components-Upload-colors-list-border-error,
                        var(--general-utilities-error-default)
                    );
                    color: var(--components-Upload-colors-list-typography-error, var(--general-utilities-text-error));
                }
            }
            .ant-upload-list-picture {
                .ant-upload-list-item-container {
                    .ant-upload-list-item .ant-upload-list-item-uploading {
                        border-radius: var(--general-border-radius-pills);
                    }
                }
            }
        }

        .ant-upload-list .ant-upload-list-item {
            border-radius: var(--general-border-radius-xxs);
            padding: auto;
        }

        .ant-upload-list-item-uploading {
            .ant-upload-list-item-name {
                color: var(--components-Upload-colors-list-typography-uploading, var(--general-utilities-main-default));
            }
        }

        .ant-upload-list-item-progress {
            padding-right: auto;
        }

        .ant-upload-list-item-done {
            border-color: var(--components-Upload-colors-list-border-default, var(--general-utilities-border));
            .ant-upload-list-item-name {
                color: var(--components-Upload-colors-list-typography-done, var(--general-utilities-text-blue));
            }
        }

        .ant-upload-list-item-error {
            color: var(--components-Upload-colors-list-typography-error, var(--general-utilities-text-error));
        }

        &.list-type-text {
            .ant-upload-list .ant-upload-list-item {
                padding: var(--general-spacing-xs);
            }

            .ant-upload-list-item-progress {
                padding-right: var(--general-spacing-xs);
            }
        }
    }
}

:local(.kit-upload-dragger) {
    .ant-upload {
        border-radius: var(--general-border-radius-xxs);

        &.ant-upload-drag {
            border: 1px dashed var(--components-Upload-Dragger-colors-border-default, var(--general-utilities-border));

            &:hover {
                border-color: var(
                    --components-Upload-Dragger-colors-border-hover,
                    var(--general-utilities-main-default)
                );
            }

            .ant-upload-btn {
                background-color: var(
                    --components-Upload-Dragger-colors-background-default,
                    var(--general-utilities-neutral-light)
                );
            }
            .ant-upload-text {
                color: var(--components-Upload-Dragger-colors-typography-text, var(--general-utilities-text-primary));
                font-size: convertToPixel(
                    --components-Upload-Dragger-typography-fontSize,
                    --general-typography-fontSize4
                );
                font-weight: var(
                    --components-Upload-Dragger-typography-fontWeight,
                    var(--general-typography-regularFontWeight)
                );
                line-height: var(
                    --components-Upload-Dragger-typography-lineHeight,
                    var(--general-typography-lineHeight4)
                );
            }
            .ant-upload-hint {
                color: var(--components-Upload-Dragger-colors-typography-hint, var(--general-utilities-neutral-dark));
                margin-top: var(--general-spacing-xs);
                margin-bottom: var(--general-spacing-none);
            }
            .ant-upload-drag-icon {
                margin-top: var(--general-spacing-none);
                margin-bottom: var(--general-spacing-l);

                svg {
                    font-size: convertToPixel(--general-typography-fontSize1);
                    color: var(
                        --components-Upload-Dragger-colors-dragIcon-default,
                        var(--general-utilities-main-default)
                    );
                }
            }
        }
    }

    .ant-upload-list-item-name {
        color: var(--components-Upload-Dragger-colors-typography-item, var(--general-utilities-main-default));
    }
}
