@mixin paginationStyles() {
    &.kit-pagination-bordered:not(.ant-pagination-mini) {
        .ant-pagination-item:not(.ant-pagination-item-active) {
            border-color: var(--components-Pagination-pagination-border-default, var(--general-utilities-border));
        }

        &:not(.ant-pagination-disabled) .ant-pagination-item:hover {
            border-color: var(--components-Pagination-pagination-border-hover, var(--general-utilities-main-default));
            background-color: var(
                --components-Pagination-pagination-colors-background-hover,
                var(--general-utilities-light)
            );
        }

        .ant-pagination-next,
        .ant-pagination-prev {
            background-color: var(--components-Pagination-prevNext-colors-background-default, 'transparent');
            border: 1px solid var(--components-Pagination-prevNext-colors-border-default, 'transparent');
        }
    }

    &.ant-pagination-mini:not(.ant-pagination-disabled) {
        .ant-pagination-item,
        .ant-pagination-item-active {
            background: var(--components-Pagination-pagination-colors-background-default, 'transparent');
        }

        .ant-pagination-next,
        .ant-pagination-prev {
            background: var(--components-Pagination-prevNext-colors-background-default, 'transparent');
        }
    }

    .ant-pagination-next,
    .ant-pagination-prev {
        .ant-pagination-item-link {
            font-size: 11px;
        }

        a {
            padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-xs);
        }
    }

    &:not(.ant-pagination-disabled) {
        .ant-pagination-next,
        .ant-pagination-prev {
            background-color: var(--components-Pagination-prevNext-colors-background-default, 'transparent');
            border: 1px solid var(--components-Pagination-prevNext-colors-border-default, 'transparent');

            a {
                color: inherit;
            }

            &:hover {
                border-color: var(
                    --components-Pagination-prevNext-colors-border-hover,
                    var(--general-utilities-main-default)
                );
                color: var(
                    --components-Pagination-prevNext-colors-typography-hover,
                    var(--general-utilities-main-default)
                );

                .ant-pagination-item-link {
                    background-color: var(--components-Pagination-prevNext-colors-background-default, 'transparent');
                }

                button {
                    color: var(
                        --components-Pagination-prevNext-colors-typography-hover,
                        var(--general-utilities-main-default)
                    );
                }
            }
        }
    }

    &.ant-pagination-simple {
        .ant-pagination-next,
        .ant-pagination-prev {
            .ant-pagination-item-link {
                height: 22px;
            }
        }
    }

    &.ant-pagination-disabled {
        .ant-pagination-item-active a {
            color: var(
                --components-Pagination-pagination-colors-typography-disabledActive,
                var(--general-utilities-text-light)
            );
        }
    }

    & .kit-pagination-prev,
    & .kit-pagination-next {
        font-size: convertToPixel(--components-Pagination-prevNext-typography-fontSize, --general-typography-fontSize5);
    }

    & .ant-pagination-options-quick-jumper {
        height: 24px;
        line-height: 24px;

        input {
            height: 24px;
            border-color: var(
                --components-Pagination-quickJumper-colors-border-default,
                var(--general-utilities-border)
            );
        }
    }

    & .ant-pagination-options-size-changer {
        height: 24px;

        .ant-select-selector {
            height: 24px;
            background: var(--components-Pagination-selector-colors-background-default, var(--general-utilities-light));
            border-color: var(--components-Pagination-selector-colors-border-default, var(--general-utilities-border));

            input,
            .ant-select-selection-item {
                height: 22px;
                line-height: 22px;
            }
        }
    }
}
