@import '../../../css/mixins.scss';

:local(.kit-alert) {
    --kit-alert-background-color: var(--general-utilities-warning-light);
    --kit-alert-border-color: var(--general-utilities-warning-default);
    --kit-alert-divider-color: var(--general-utilitis-warning-medium);
    --kit-alert-toast-max-width: 400;

    padding: convertToPixel(--general-spacing-s) 0;
    border: 1px solid var(--kit-alert-border-color);
    background: var(--kit-alert-background-color);
    border-radius: convertToPixel(--general-border-radius-m);
    font-family: var(--general-typography-fontFamily);
    font-style: var(--general-typography-fontStyle);
    font-weight: var(--general-typography-defaultFontWeight);
    margin-bottom: convertToPixel(--general-spacing-s);

    position: relative;

    &.toast-alert {
        max-width: convertToPixel(--kit-alert-toast-max-width);
    }

    &.success {
        --kit-alert-background-color: var(--general-utilities-success-light);
        --kit-alert-border-color: var(--general-utilities-success-default);
        --kit-alert-divider-color: var(--general-utilities-success-medium);
    }

    &.info {
        --kit-alert-background-color: var(--general-colors-primary-50);
        --kit-alert-border-color: var(--general-utilities-main-default);
        --kit-alert-divider-color: var(--general-utilities-main-medium);
    }

    &.warning {
        --kit-alert-background-color: var(--general-utilities-warning-light);
        --kit-alert-border-color: var(--general-utilities-warning-default);
        --kit-alert-divider-color: var(--general-utilities-warning-medium);
    }

    &.error {
        --kit-alert-background-color: var(--general-utilities-error-light);
        --kit-alert-border-color: var(--general-utilities-error-default);
        --kit-alert-divider-color: var(--general-utilities-error-medium);
    }

    .kit-alert-main-content {
        padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-s);
        display: grid;
        grid-template-areas: 'icon message close' 'icon desc desc';
        grid-template-columns: auto 1fr auto;

        .icon {
            color: var(--kit-alert-border-color);
            grid-area: icon;
            margin-right: convertToPixel(--general-spacing-s);
            font-size: convertToPixel(--general-typography-fontSize2);
        }

        .message {
            grid-area: message;
        }

        .close {
            grid-area: close;
            top: convertToPixel(--general-spacing-s);
            right: convertToPixel(--general-spacing-s);
            color: var(--kit-alert-border-color);
            background: transparent;
            border: none;
            padding-right: convertToPixel(--general-spacing-none);
            cursor: pointer;
        }

        .description {
            grid-area: desc;

            &:not(:first-child) {
                margin-top: convertToPixel(--general-spacing-xs);
            }
        }
    }

    .divider {
        margin-top: convertToPixel(--general-spacing-s);
        border-top: 1px solid var(--kit-alert-divider-color);
    }

    .custom-placeholder {
        padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-s);
        grid-area: actions;
        margin-top: convertToPixel(--general-spacing-xs);
    }

    details {
        padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-s);
        grid-area: details;
        margin-top: convertToPixel(--general-spacing-xs);

        &:not([open]) .alert-details-caret-down {
            display: none;
        }

        &[open] .alert-details-caret-right {
            display: none;
        }

        summary {
            display: flex;
            align-items: center;
            margin-bottom: convertToPixel(--general-spacing-xs);
            height: convertToPixel(--general-spacing-l);
            position: relative;
            cursor: pointer;

            svg {
                width: convertToPixel(--general-spacing-s);
                text-align: left;
            }

            span {
                padding-left: convertToPixel(--general-spacing-xs);
            }

            &::marker {
                display: none;
            }
        }
    }
}
