@import '../../../css/mixins.scss';

:local(.kit-alert) {
    &.ant-alert-with-description {
        padding-inline: convertToPixel(--general-spacing-none);
        padding-block: convertToPixel(--general-spacing-none);
        padding: convertToPixel(--general-spacing-xs) convertToPixel(--general-spacing-s);

        .ant-alert-message {
            margin-bottom: 6px;
        }
    }

    &:not(.ant-alert-banner) {
        border-radius: convertToPixel(--components-Alert-border-radius, --general-border-radius-s);
    }

    padding: convertToPixel(--general-spacing-xs) convertToPixel(--general-spacing-s);

    .ant-alert-message {
        font-size: convertToPixel(--components-Alert-typography-fontSize-message, --general-typography-fontSize5);
    }

    .ant-alert-description {
        font-size: convertToPixel(--components-Alert-typography-fontSize-description, --general-typography-fontSize7);
    }

    .fa-icon {
        font-size: convertToPixel(--components-Alert-icon-alert-size, --general-typography-fontSize4);
        margin-inline-end: convertToPixel(--general-spacing-xs);
    }

    &.ant-alert-with-description .fa-icon {
        margin-top: 3px;
    }

    &.ant-alert-success {
        svg {
            color: var(--components-Alert-colors-icon-alert-success, var(--general-utilities-success-default));
        }
    }

    &.ant-alert-info {
        svg {
            color: var(--components-Alert-colors-icon-alert-info, var(--general-utilities-main-default));
        }
    }

    &.ant-alert-warning {
        svg {
            color: var(--components-Alert-colors-icon-alert-warning, var(--general-utilities-warning-default));
        }
    }

    &.ant-alert-error {
        svg {
            color: var(--components-Alert-colors-icon-alert-error, var(--general-utilities-error-default));
        }
    }
}
