@import '../../../css/mixins.scss';

:local(.kit-card) {
    display: flex;
    flex-direction: column;
    border-radius: convertToPixel(--general-border-radius-s);
    overflow: hidden;
    background-color: var(--components-Card-colors-background-default, var(--general-utilities-light));
    border: 1px solid var(--components-Card-colors-border-default, var(--general-utilities-border));
    margin: 2px;
    box-shadow: var(--general-utilities-shadow-shadowLight);
    width: 300px;

    &.kit-card-disabled {
        background-color: var(
            --components-Card-colors-background-disabled,
            var(--general-utilities-neutral-neutralLight)
        );

        .brandingBar.kit-card-picture {
            border-color: var(--components-Card-colors-separator-disabled, var(--general-utilities-disabled));
        }

        .kit-card-content {
            .kit-card-title {
                color: var(
                    --components-Card-colors-typography-title-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }
            .kit-card-description {
                color: var(
                    --components-Card-colors-typography-description-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }
            .kit-card-extra {
                color: var(
                    --components-Card-colors-typography-extra-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }
        }
    }

    &.kit-card-selected {
        margin: convertToPixel(--general-spacing-none);
        border: 3px solid var(--components-Card-colors-border-selected, var(--general-utilities-main-mainColor));
    }

    .kit-card-content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        gap: convertToPixel(--general-spacing-xs);
        padding: convertToPixel(--general-spacing-s);

        .kit-card-title {
            font-size: convertToPixel(--components-Card-typography-title-fontSize, --general-typography-fontSize3);
            font-weight: var(--components-Card-typography-title-fontWeight, var(--general-typography-boldFontWeight));
            color: var(--components-Card-colors-typography-title-default, var(--general-utilities-text-textBlue));
        }

        .kit-card-description {
            font-size: convertToPixel(
                --components-Card-typography-description-fontSize,
                --general-typography-fontSize5
            );
            font-weight: var(
                --components-Card-typography-description-fontWeight,
                var(--general-typography-regularFontWeight)
            );
            color: var(
                --components-Card-colors-typography-description-default,
                var(--general-utilities-text-textPrimary)
            );
        }

        .kit-card-extra {
            font-size: convertToPixel(--components-Card-typography-extra-fontSize, --general-typography-fontSize4);
            font-weight: var(--components-Card-typography-extra-fontWeight, var(--general-typography-boldFontWeight));
            color: var(--components-Card-colors-typography-extra-default, var(--general-utilities-text-textBlue));
        }
    }

    .kit-card-picture {
        display: flex;
        justify-content: center;
        height: 200px;
        padding: 10px;
        overflow: hidden;
        position: relative;
        border-bottom: 4px solid transparent;

        &.brandingBar {
            border-color: var(--components-Card-colors-separator-default, var(--general-utilities-main-mainColor));
        }
        img {
            height: 100%;
            transition-duration: 500ms;
            transition-property: transform;
        }

        .kit-card-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .kit-card-switch {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .kit-card-buttons {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            gap: convertToPixel(--general-spacing-xs);
        }
    }

    &:focus:not(.kit-card-disabled),
    &:focus-visible:not(.kit-card-disabled),
    &:focus-within:not(.kit-card-disabled) {
        margin: convertToPixel(--general-spacing-none);
        border: 3px solid var(--components-Card-colors-border-focus, var(--general-utilities-focus));
        outline: none;
    }

    &:hover:not(.kit-card-disabled) {
        margin: convertToPixel(--general-spacing-none);
        border: 3px solid var(--components-Card-colors-border-hover, var(--general-utilities-main-mainColor));

        .kit-card-picture {
            border-color: transparent;

            img {
                transform: scale(1.3);
            }
        }
    }
}
