@import '../../../css/mixins.scss';

:local(.kit-avatar) {
    background: var(--general-utilities-main-mainLight);

    &:not(.ant-avatar-image) {
        background: var(--components-Avatar-colors-background-default, var(--general-utilities-main-mainLight));
        color: var(--components-Avatar-colors-typography-default, var(--general-utilities-main-mainMedium));
    }

    &.kit-avatar-image-fit-cover {
        img {
            object-fit: cover;
        }
    }

    &.kit-avatar-image-fit-contain {
        img {
            object-fit: contain;
        }
    }

    &.kit-avatar-image-fit-fill {
        img {
            object-fit: fill;
        }
    }
}

:local(.kit-avatar-disabled) {
    --mask-color: #8db1c880;
    &.ant-avatar-icon {
        color: var(--general-utilities-disabled);
        background-color: var(--general-utilities-neutral-neutralMedium);
    }

    &.kit-avatar-image-fit-cover,
    & {
        color: var(--general-utilities-disabled);
        background-color: var(--general-utilities-neutral-neutralMedium);
    }

    &.ant-avatar-image::after {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--mask-color);
    }
}

:local(.kit-avatar-group) {
    &.override-last > span:last-child {
        background: var(--components-AvatarGroup-colors-background-default, var(--general-utilities-main-mainLight));
        color: var(
            --components-AvatarGroup-colors-typography-default,
            var(--components-AvatarGroup-colors-background-default, var(--general-utilities-main-mainMedium))
        );
    }

    .ant-avatar {
        box-shadow: var(--general-utilities-shadow-shadowLight);
    }
}

:local(.kit-avatar-group-disabled) {
    &.override-last > span:last-child {
        color: var(--general-utilities-disabled);
        background-color: var(--general-utilities-neutral-neutralMedium);
    }
}
