@import '../../../css/mixins.scss';

:local(.kit-avatar) {
    background: var(--general-colors-neutral-typography-white);

    &:not(.ant-avatar-image) {
        background: var(
            --components-Avatar-colors-background-default,
            var(--general-colors-neutral-black60)
        );
        color: var(
            --components-Avatar-colors-typography-default,
            var(--general-colors-neutral-typography-white)
        );
    }

    &.kit-avatar-image-fit-cover {
        img {
            object-fit: cover;
        }
    }

    &.kit-avatar-image-fit-contain {
        img {
            object-fit: contain;
        }
    }

    &.kit-avatar-image-fit-fill {
        img {
            object-fit: fill;
        }
    }

}

:local(.kit-avatar-disabled) {
    --mask-color: #8db1c880;
    &.ant-avatar-icon {
        color: var(--general-colors-secondary-mediumGrey-mediumGrey400);
        background-color: var(--general-colors-secondary-mediumGrey-mediumGrey200);
    }

    &.kit-avatar-image-fit-cover, & {
        color: var(--general-colors-secondary-mediumGrey-mediumGrey400);
        background-color: var(--general-colors-secondary-mediumGrey-mediumGrey200);
    }

    &.ant-avatar-image::after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--mask-color);
    }

}

:local(.kit-avatar-group) {
    &.override-last > span:last-child {
        background: var(
            --components-AvatarGroup-colors-background-default,
            var(--general-colors-primary-primary100)
        );
        color: var(
            --components-AvatarGroup-colors-typography-default,
            var(
                --components-AvatarGroup-colors-background-default,
                var(--general-colors-primary-primary200)
            )
        );
    }

    .ant-avatar {
        box-shadow:  0px 3px 14px 0px rgba(0, 0, 0, 0.30);
    }
}

:local(.kit-avatar-group-disabled) {
    &.override-last > span:last-child {
        background-color: var(--general-colors-secondary-mediumGrey-mediumGrey200);
        color: var(--general-colors-secondary-mediumGrey-mediumGrey400);
    }
}