@import '../../../css/mixins.scss';

@import '../../DataEntry/Checkbox/mixins.scss';
@import '../../DataEntry/Radio/mixins.scss';
@import '../../Navigation/Pagination/mixins.scss';

:local(.kit-table) {
    --kit-table-row-side-padding: calc(var(--general-spacing-xs) + var(--general-spacing-s));
    --kit-table-body-cell-height: 56px;
    --kit-table-checkbox-width: 48px;

    &.ant-table-wrapper .ant-table {
        .ant-table-title {
            padding: convertToPixel(--general-spacing-xs);
            margin: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-none)
                convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-none);
        }

        .ant-table-footer {
            background-color: unset;
            padding: convertToPixel(--general-spacing-xs);
            margin: convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-none)
                convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-none);
        }

        .ant-table-container {
            background-color: unset;

            .ant-checkbox-wrapper {
                @include checkboxStyles();

                .ant-checkbox-inner::after {
                    display: initial;
                }
            }

            .ant-radio-wrapper {
                @include radioStyles();
            }

            .ant-table-pagination.ant-pagination {
                @include paginationStyles();

                margin: convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-none);
            }

            .ant-table-header {
                border-radius: convertToPixel((--general-border-radius-s));
            }

            .ant-table-content table > thead.ant-table-thead > tr > th,
            table > thead.ant-table-thead > tr > th {
                background-color: var(--general-utilities-light);
                border: 1px solid var(--general-utilities-border);
                border-radius: convertToPixel((--general-border-radius-s));
                padding: convertToPixel(--general-spacing-s);

                &:first-of-type {
                    padding-left: calc(
                        convertToPixel(--general-spacing-xxs) + convertToPixel(--general-spacing-s) +
                            convertToPixel(--general-spacing-xs)
                    );

                    &.ant-table-selection-column {
                        padding-left: calc(convertToPixel(--general-spacing-s) + convertToPixel(--general-spacing-xs));
                    }
                }

                &.ant-table-column-has-sorters .ant-table-cell {
                    cursor: pointer;

                    &:hover {
                        background-color: var(--general-utilities-neutral-light);
                    }
                }

                .ant-table-cell {
                    color: var(--general-utilities-text-primary);
                    background-color: var(--general-utilities-light);
                    font-weight: var(--general-typography-boldFontWeight);
                    border-radius: convertToPixel((--general-border-radius-xs));
                    height: 25px;
                    line-height: 17px;

                    &::before {
                        display: none;
                    }

                    &.ant-table-selection-column {
                        padding-inline-start: convertToPixel(--general-spacing-none);
                        padding-inline-end: convertToPixel(--general-spacing-none);
                    }

                    .ant-table-column-sorters {
                        gap: convertToPixel(--general-spacing-xs);

                        .kit-icon {
                            padding: convertToPixel(--general-spacing-none);
                            --components-Icon-colors-icon-default: var(--general-utilities-text-primary);
                        }
                    }
                }

                &:first-of-type {
                    border-right: none;
                    border-top-right-radius: convertToPixel(--general-border-radius-square);
                    border-bottom-right-radius: convertToPixel(--general-border-radius-square);
                }

                &:not(:first-of-type):not(:last-of-type) {
                    border-left: none;
                    border-right: none;
                    border-radius: convertToPixel(--general-border-radius-square);
                }

                &:last-of-type {
                    border-left: none;
                    border-top-left-radius: convertToPixel(--general-border-radius-square);
                    border-bottom-left-radius: convertToPixel(--general-border-radius-square);
                }

                &:not(:first-of-type) {
                    padding: convertToPixel(--general-spacing-s) convertToPixel(--general-spacing-s)
                        convertToPixel(--general-spacing-s) 0;
                }

                &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(
                        [colspan]
                    )::before {
                    display: none;
                }

                &:focus-visible .ant-table-cell {
                    color: var(--general-utilities-text-primary);
                    outline: var(--general-utilities-focus) solid 3px;
                }
            }

            tbody {
                &:before {
                    content: '@';
                    display: block;
                    line-height: convertToPixel(--general-spacing-xs);
                    text-indent: -99999px;
                }

                &.ant-table-tbody {
                    & > tr {
                        & > td {
                            border-bottom: none;
                            padding: convertToPixel(--general-spacing-xs) convertToPixel(--general-spacing-none)
                                convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-none);
                            background-color: var(--kit-table-cells-background-color, var(--general-utilities-light));

                            &:first-of-type {
                                padding-left: convertToPixel(--general-spacing-xs);

                                .ant-table-cell {
                                    border-right: none;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    border-top-left-radius: convertToPixel((--general-border-radius-s));
                                    border-bottom-left-radius: convertToPixel((--general-border-radius-s));

                                    &:not(.ant-table-selection-column) {
                                        padding-left: convertToPixel(--kit-table-row-side-padding);
                                    }
                                }
                            }

                            &:not(:first-of-type):not(:last-of-type) .ant-table-cell {
                                border-left: none;
                                border-right: none;
                                border-radius: convertToPixel(--general-border-radius-square);
                            }

                            &:last-of-type {
                                padding-right: convertToPixel(--general-spacing-xs);

                                .ant-table-cell {
                                    border-left: none;
                                    border-top-left-radius: convertToPixel(--general-border-radius-square);
                                    border-bottom-left-radius: convertToPixel(--general-border-radius-square);
                                    border-top-right-radius: convertToPixel((--general-border-radius-s));
                                    border-bottom-right-radius: convertToPixel((--general-border-radius-s));
                                    padding-right: convertToPixel(--kit-table-row-side-padding);
                                }
                            }

                            .ant-table-cell {
                                height: var(--kit-table-body-cell-height);
                                align-content: center;
                                border: 1px solid transparent;
                                padding-right: convertToPixel(--general-spacing-s);

                                &.ant-table-selection-column {
                                    padding-inline-start: 15px;
                                }

                                .ant-form-item {
                                    margin: convertToPixel(--general-spacing-none);

                                    &.ant-form-item-has-error {
                                        margin-top: 20px;
                                    }

                                    .ant-form-item-explain-error {
                                        display: grid;
                                        margin-top: convertToPixel(--general-spacing-xxs);

                                        .ant-typography {
                                            color: var(--general-utilities-text-error);

                                            &:focus-visible {
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }

                            &.ant-table-column-sort {
                                background: unset;
                            }
                        }

                        &:has(.ant-table-cell .ant-form-item-has-error) {
                            .ant-table-cell {
                                height: calc(var(--kit-table-body-cell-height) + 40px);
                                background-color: var(--general-utilities-error-light);
                                border-color: var(--general-utilities-error-default);
                            }
                        }

                        &:hover {
                            .ant-table-cell {
                                border: 1px solid var(--general-utilities-main-default);
                            }

                            &.ant-table-row-selected,
                            &.ant-table-row-level-0:has(+ .ant-table-row-level-1),
                            &.last-expandable-level {
                                .ant-table-cell {
                                    border-color: var(--general-utilities-main-default);
                                }
                            }
                        }

                        &:focus-visible {
                            outline: none;
                            --kit-table-row-focused-cell-padding: calc(var(--kit-table-row-side-padding) - 2);
                            --kit-table-row-focused-cell-selection-padding: calc(var(--general-spacing-xs) + 5);

                            .ant-table-cell {
                                border: 3px solid var(--general-utilities-focus);
                            }

                            td:first-of-type .ant-table-cell:not(.ant-table-selection-column) {
                                padding-left: convertToPixel(--kit-table-row-focused-cell-padding);
                            }

                            td:first-of-type .ant-table-cell.ant-table-selection-column {
                                padding-left: convertToPixel(--kit-table-row-focused-cell-selection-padding);
                            }

                            td:last-of-type .ant-table-cell {
                                padding-right: convertToPixel(--kit-table-row-focused-cell-padding);
                            }

                            &.ant-table-row-selected,
                            &.ant-table-row-level-0:has(+ .ant-table-row-level-1),
                            &.last-expandable-level {
                                .ant-table-cell {
                                    border-color: var(--general-utilities-focus);
                                }
                            }
                        }

                        &.ant-table-row-level-0:has(+ .ant-table-row-level-1) {
                            td {
                                border: 1px solid var(--general-utilities-main-default);
                                border-bottom: none;

                                .ant-table-cell {
                                    background-color: var(--general-utilities-main-light);
                                }

                                &:not(:first-of-type):not(:last-of-type) {
                                    border-left: none;
                                    border-right: none;
                                    border-radius: convertToPixel(--general-border-radius-square);
                                }

                                &:first-of-type {
                                    border-right: none;
                                    border-top-left-radius: convertToPixel((--general-border-radius-s));
                                    border-bottom-left-radius: convertToPixel(--general-border-radius-square);
                                }

                                &:last-of-type {
                                    border-left: none;
                                    border-top-right-radius: convertToPixel((--general-border-radius-s));
                                    border-bottom-right-radius: convertToPixel(--general-border-radius-square);
                                }
                            }
                        }

                        &:not(.ant-table-row-level-0) {
                            td {
                                border: 1px solid var(--general-utilities-main-default);
                                border-top: none;
                                border-bottom: none;

                                &:not(:first-of-type):not(:last-of-type) {
                                    border-left: none;
                                    border-right: none;
                                    border-radius: convertToPixel(--general-border-radius-square);
                                }

                                &:first-of-type {
                                    border-right: none;
                                    border-top-left-radius: convertToPixel(--general-border-radius-square);
                                    border-bottom-left-radius: convertToPixel(--general-border-radius-square);
                                }

                                &:last-of-type {
                                    border-left: none;
                                    border-top-right-radius: convertToPixel(--general-border-radius-square);
                                    border-bottom-right-radius: convertToPixel(--general-border-radius-square);
                                }
                            }
                        }

                        &:not(.ant-table-row-level-0):has(+ .ant-table-row-level-0),
                        &:not(.ant-table-row-level-0):last-child {
                            td {
                                border: 1px solid var(--general-utilities-main-default);
                                border-top: none;
                                padding-bottom: convertToPixel(--general-spacing-xs);

                                &:not(:first-of-type):not(:last-of-type) {
                                    border-left: none;
                                    border-right: none;
                                    border-radius: convertToPixel(--general-border-radius-square);
                                }

                                &:first-of-type {
                                    border-right: none;
                                    border-top-left-radius: convertToPixel(--general-border-radius-square);
                                    border-bottom-left-radius: convertToPixel((--general-border-radius-s));
                                }

                                &:last-of-type {
                                    border-left: none;
                                    border-top-right-radius: convertToPixel(--general-border-radius-square);
                                    border-bottom-right-radius: convertToPixel((--general-border-radius-s));
                                }
                            }
                        }

                        &.last-expandable-level .ant-table-cell {
                            background-color: var(--general-utilities-neutral-light);
                            border-color: var(--general-utilities-neutral-light);
                        }

                        &.ant-table-row-selected .ant-table-cell {
                            background-color: var(--general-utilities-main-light);
                            border-color: var(--general-utilities-main-light);
                        }
                    }

                    & > tr.ant-table-placeholder {
                        & > td .ant-table-cell {
                            height: auto;
                        }

                        &:hover {
                            .ant-table-cell {
                                border: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    :local(.expand-button) {
        height: 18px;
        max-height: 18px;
        padding: convertToPixel(--general-spacing-none) convertToPixel(--general-spacing-xxs);
        margin-right: convertToPixel(--general-spacing-xxs);
        min-width: 18px;
        width: 18px;
        display: inline;
        color: var(--general-utilities-text-primary);
    }
}
