@import '../../../css/mixins.scss';

:local(.kit-input) {
    &.ant-input,
    .ant-input {
        height: 40px;
        padding: convertToPixel(--general-spacing-none) 10px;
        font-weight: var(--components-input-typography-content-fontWeight, var(--general-typography-mediumfontWeight));

        &::placeholder {
            font-weight: var(
                --components-input-typography-placeholder-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }
    }

    &.ant-input-affix-wrapper {
        font-size: convertToPixel(--components-input-typography-fontSize, --general-typography-fontSize5);
        border-radius: convertToPixel(--components-input-border-radius, --general-border-radius-s);
        padding: convertToPixel(--general-spacing-none) 12px;

        .ant-input-prefix {
            margin-inline-end: 10px;
            color: var(--components-input-colors-prefix-default, var(--general-utilities-text-textPrimary));
        }

        .ant-input-suffix {
            margin-inline-start: 10px;
            color: var(--components-input-colors-suffix-default, var(--general-utilities-text-textPrimary));

            .ant-input-clear-icon {
                display: flex;
                color: var(--components-input-colors-clearIcon-default, var(--general-utilities-text-textPrimary));
            }
        }

        .ant-input-suffix .ant-input-show-count-suffix {
            color: var(--components-input-colors-showCount-default, var(--general-utilities-neutral-neutralDark));
            font-size: convertToPixel(--components-input-typography-showCount-fontSize, --general-typography-fontSize7);
            font-weight: var(
                --components-input-typography-showCount-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }

        .ant-input {
            font-weight: var(
                --components-input-typography-content-fontWeight,
                var(--general-typography-mediumfontWeight)
            );
            height: 38px;

            &::placeholder {
                font-weight: var(
                    --components-input-typography-placeholder-fontWeight,
                    var(--general-typography-regularFontWeight)
                );
            }
        }

        &.ant-input-affix-wrapper-disabled {
            border-color: var(--components-input-colors-border-disabled, var(--general-utilities-border));

            .ant-input-prefix svg {
                color: var(--components-input-colors-prefix-disabled, var(--general-utilities-text-textDisabled));
            }

            .ant-input-suffix {
                color: var(--components-input-colors-suffix-disabled, var(--general-utilities-text-textDisabled));

                .ant-input-show-count-suffix {
                    color: var(
                        --components-input-colors-showCount-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }

                .ant-input-clear-icon {
                    color: var(
                        --components-input-colors-clearIcon-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }
            }
        }
    }

    &.ant-input-disabled,
    .ant-input-disabled {
        border-color: var(--components-input-colors-border-disabled, var(--general-utilities-border));
        color: var(--components-input-colors-typography-content-disabled, var(--general-utilities-text-textDisabled));

        &:hover {
            border-color: var(--components-input-colors-border-disabled, var(--general-utilities-border));
        }

        &::placeholder {
            color: var(
                --components-input-colors-typography-placeholder-disabled,
                var(--general-utilities-text-textDisabled)
            );
        }
    }

    &.ant-input-status-error,
    &.ant-input-affix-wrapper.ant-input-affix-wrapper-status-error,
    &.ant-input-affix-wrapper.ant-input-affix-wrapper-status-error .ant-input,
    &.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
        background-color: var(--components-input-colors-background-error, var(--general-utilities-error-errorLight));
        color: var(--components-input-colors-typography-content-error, var(--general-utilities-text-textError));

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(--components-input-colors-border-error, var(--general-utilities-error-errorColor));

            &.ant-input-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-input-colors-border-focus-error, var(--general-utilities-error-errorMedium));

                &:hover {
                    border-color: transparent;
                }
            }
        }

        &.ant-input-affix-wrapper .ant-input::placeholder {
            color: var(--components-input-colors-typography-placeholder-error, var(--general-utilities-text-textError));
        }

        .ant-input-prefix svg {
            color: var(--components-input-colors-prefix-error, var(--general-utilities-text-textError));
        }

        .ant-input-suffix {
            color: var(--components-input-colors-prefix-error, var(--general-utilities-text-textError));

            .ant-input-show-count-suffix {
                color: var(--components-input-colors-showCount-error, var(--general-utilities-text-textError));
            }

            .ant-input-clear-icon {
                color: var(--components-input-colors-clearIcon-error, var(--general-utilities-text-textError));
            }
        }
    }

    &.ant-input-status-warning,
    &.ant-input-affix-wrapper.ant-input-affix-wrapper-status-warning,
    &.ant-input-affix-wrapper.ant-input-affix-wrapper-status-warning .ant-input,
    &.ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) {
        background-color: var(
            --components-input-colors-background-warning,
            var(--general-utilities-warning-warningLight)
        );
        color: var(--components-input-colors-typography-content-warning, var(--general-utilities-text-textWarning));

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(--components-input-colors-border-warning, var(--general-utilities-warning-warningColor));
            &.ant-input-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(--components-input-colors-border-focus-warning, var(--general-utilities-warning-warningMedium));

                &:hover {
                    border-color: transparent;
                }
            }
        }

        &.ant-input-affix-wrapper .ant-input::placeholder {
            color: var(
                --components-input-colors-typography-placeholder-warning,
                var(--general-utilities-warning-warningColor)
            );
        }

        .ant-input-prefix svg {
            color: var(--components-input-colors-prefix-warning, var(--general-utilities-warning-warningColor));
        }

        .ant-input-suffix {
            color: var(--components-input-colors-suffix-warning, var(--general-utilities-warning-warningColor));

            .ant-input-show-count-suffix {
                color: var(--components-input-colors-showCount-warning, var(--general-utilities-warning-warningColor));
            }

            .ant-input-clear-icon {
                color: var(--components-input-colors-clearIcon-warning, var(--general-utilities-warning-warningColor));
            }
        }
    }

    &:focus-within,
    &.ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
        border-color: transparent;
        // TODO change to cards-border-stroke when available
        box-shadow: 0 0 0 3px var(--components-input-colors-border-focus-default, var(--general-utilities-focus));

        &.ant-input::placeholder,
        .ant-input::placeholder {
            color: transparent;
        }
    }
}

:local(.kit-password) {
    &.ant-input-affix-wrapper {
        padding: convertToPixel(--general-spacing-none) 12px;

        .ant-input {
            height: 38px;
            padding: convertToPixel(--general-spacing-none) 10px convertToPixel(--general-spacing-none)
                convertToPixel(--general-spacing-none);
            border-radius: convertToPixel(--general-border-radius-s);
            font-weight: var(
                --components-Input-Passwordtypography-content-fontWeight,
                var(--general-typography-mediumfontWeight)
            );

            &::placeholder {
                font-weight: var(
                    --components-Input-Passwordtypography-placeholder-fontWeight,
                    var(--general-typography-regularFontWeight)
                );
            }
        }

        .ant-input-suffix {
            .ant-input-password-icon {
                color: var(
                    --components-Input-Passwordcolors-passwordIcon-default,
                    var(--general-utilities-text-textPrimary)
                );
            }

            .ant-input-show-count-suffix {
                color: var(
                    --components-Input-Passwordcolors-showCount-default,
                    var(--general-utilities-text-textDisabled)
                );
                font-size: convertToPixel(
                    --components-Input-Passwordtypography-showCount-fontSize,
                    --general-typography-fontSize7
                );
                font-weight: var(
                    --components-Input-Passwordtypography-showCount-fontWeight,
                    var(--general-typography-regularFontWeight)
                );
            }

            .ant-input-clear-icon {
                color: var(
                    --components-Input-Passwordcolors-clearIcon-default,
                    var(--general-utilities-text-textPrimary)
                );
                display: flex;
            }
        }

        .ant-input-prefix {
            margin-inline-end: 10px;
            color: var(--components-Input-Passwordcolors-prefix-default, var(--general-utilities-text-textPrimary));
        }

        &.ant-input-affix-wrapper-disabled {
            border-color: var(--components-Input-Passwordcolors-border-disabled, var(--general-utilities-border));

            .ant-input {
                color: var(
                    --components-Input-Passwordcolors-typography-content-disabled,
                    var(--general-utilities-text-textDisabled)
                );

                &::placeholder {
                    color: var(
                        --components-Input-Passwordcolors-typography-placeholder-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }
            }

            .ant-input-prefix svg {
                color: var(
                    --components-Input-Passwordcolors-prefix-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }

            .ant-input-suffix {
                color: var(
                    --components-Input-Passwordcolors-suffix-disabled,
                    var(--general-utilities-text-textDisabled)
                );

                .ant-input-clear-icon {
                    color: var(
                        --components-Input-Passwordcolors-clearIcon-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }

                .ant-input-show-count-suffix {
                    color: var(
                        --components-Input-Passwordcolors-showCount-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }

                .ant-input-password-icon {
                    color: var(
                        --components-Input-Passwordcolors-passwordIcon-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }
            }
        }

        &.ant-input-affix-wrapper-status-error,
        &.ant-input-affix-wrapper-status-error .ant-input,
        &.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
            background-color: var(
                --components-Input-Passwordcolors-background-error,
                var(--general-utilities-error-errorLight)
            );
            color: var(
                --components-Input-Passwordcolors-typography-content-error,
                var(--general-utilities-text-textError)
            );

            &:not(.ant-input-borderless):not(.ant-input-disabled) {
                border-color: var(
                    --components-Input-Passwordcolors-border-error,
                    var(--general-utilities-error-errorColor)
                );

                &.ant-input-affix-wrapper-focused {
                    border-color: transparent;
                    // TODO change to cards-border-stroke when available
                    box-shadow: 0 0 0 3px
                        var(
                            --components-Input-Passwordcolors-border-focus-error,
                            var(--general-utilities-error-errorMedium)
                        );

                    &:hover {
                        border-color: transparent;
                    }
                }
            }

            &.ant-input-affix-wrapper .ant-input::placeholder {
                color: var(
                    --components-Input-Passwordcolors-typography-placeholder-error,
                    var(--general-utilities-text-textError)
                );
            }

            .ant-input-prefix svg {
                color: var(--components-Input-Passwordcolors-prefix-error, var(--general-utilities-text-textError));
            }

            .ant-input-suffix {
                color: var(--components-Input-Passwordcolors-suffix-error, var(--general-utilities-text-textError));

                .ant-input-clear-icon {
                    color: var(
                        --components-Input-Passwordcolors-clearIcon-error,
                        var(--general-utilities-text-textError)
                    );
                }

                .ant-input-show-count-suffix {
                    color: var(
                        --components-Input-Passwordcolors-showCount-error,
                        var(--general-utilities-text-textError)
                    );
                }

                .ant-input-password-icon {
                    color: var(
                        --components-Input-Passwordcolors-passwordIcon-error,
                        var(--general-utilities-text-textError)
                    );
                }
            }
        }

        &.ant-input-affix-wrapper-status-warning,
        &.ant-input-affix-wrapper-status-warning .ant-input,
        &.ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) {
            background-color: var(
                --components-Input-Passwordcolors-background-warning,
                var(--general-utilities-warning-warningLight)
            );
            color: var(
                --components-Input-Passwordcolors-typography-content-warning,
                var(--general-utilities-text-textWarning)
            );

            &:not(.ant-input-borderless):not(.ant-input-disabled) {
                border-color: var(
                    --components-Input-Passwordcolors-border-warning,
                    var(--general-utilities-warning-warningColor)
                );

                &.ant-input-affix-wrapper-focused {
                    border-color: transparent;
                    // TODO change to cards-border-stroke when available
                    box-shadow: 0 0 0 3px
                        var(
                            --components-Input-Passwordcolors-border-focus-warning,
                            var(--general-utilities-warning-warningMedium)
                        );

                    &:hover {
                        border-color: transparent;
                    }
                }
            }

            &.ant-input-affix-wrapper .ant-input::placeholder {
                color: var(
                    --components-Input-Passwordcolors-typography-placeholder-warning,
                    var(--general-utilities-text-textWarning)
                );
            }

            .ant-input-prefix svg {
                color: var(--components-Input-Passwordcolors-prefix-warning, var(--general-utilities-text-textWarning));
            }

            .ant-input-suffix {
                color: var(--components-Input-Passwordcolors-prefix-warning, var(--general-utilities-text-textWarning));

                .ant-input-clear-icon {
                    color: var(
                        --components-Input-Passwordcolors-clearIcon-warning,
                        var(--general-utilities-text-textWarning)
                    );
                }

                .ant-input-show-count-suffix {
                    color: var(
                        --components-Input-Passwordcolors-showCount-warning,
                        var(--general-utilities-text-textWarning)
                    );
                }

                .ant-input-password-icon {
                    color: var(
                        --components-Input-Passwordcolors-passwordIcon-warning,
                        var(--general-utilities-text-textWarning)
                    );
                }
            }
        }

        &.ant-input-affix-wrapper-focused {
            // TODO change to cards-border-stroke when available
            border-color: transparent;
            box-shadow: 0 0 0 3px
                var(--components-Input-Passwordcolors-border-focus-default, var(--general-utilities-focus));

            .ant-input::placeholder {
                color: transparent;
            }
        }
    }
}

:local(.kit-textarea) {
    &.ant-input,
    .ant-input {
        padding: convertToPixel(--general-spacing-xxs) 10px;
        font-weight: var(
            --components-Input-TextAreatypography-content-fontWeight,
            var(--general-typography-mediumfontWeight)
        );

        &::placeholder {
            font-weight: var(
                --components-Input-TextAreatypography-placeholder-fontWeight,
                var(--general-typography-regularFontWeight)
            );
        }
    }

    .ant-input-suffix {
        .ant-input-clear-icon {
            color: var(--components-Input-TextAreacolors-clearIcon-default, var(--general-utilities-text-textPrimary));
        }
    }

    &.ant-input-affix-wrapper {
        &.ant-input-textarea-allow-clear {
            .ant-input {
                padding-inline-end: convertToPixel(--general-spacing-m);
            }
        }

        &.ant-input-textarea-show-count {
            .ant-input-data-count {
                bottom: -23px;
                color: var(
                    --components-Input-TextAreacolors-showCount-default,
                    var(--general-utilities-text-textDisabled)
                );
                font-size: convertToPixel(
                    --components-Input-TextAreatypography-showCount-fontSize,
                    --general-typography-fontSize7
                );
                font-weight: var(
                    --components-Input-TextAreatypography-showCount-fontWeight,
                    var(--general-typography-regularFontWeight)
                );
            }
        }

        &.ant-input-affix-wrapper-disabled {
            .ant-input-data-count {
                color: var(
                    --components-Input-TextAreacolors-showCount-disabled,
                    var(--general-utilities-text-textDisabled)
                );
            }

            .ant-input-suffix {
                .ant-input-clear-icon {
                    color: var(
                        --components-Input-TextAreacolors-clearIcon-disabled,
                        var(--general-utilities-text-textDisabled)
                    );
                }
            }
        }
    }

    &.ant-input-disabled,
    .ant-input-disabled {
        border-color: var(--components-Input-TextAreacolors-border-disabled, var(--general-utilities-border));
        color: var(
            --components-Input-TextAreacolors-typography-content-disabled,
            var(--general-utilities-text-textDisabled)
        );

        &:hover {
            border-color: var(--components-Input-TextAreacolors-border-disabled, var(--general-utilities-border));
        }

        &::placeholder {
            color: var(
                --components-Input-TextAreacolors-typography-placeholder-disabled,
                var(--general-utilities-text-textDisabled)
            );
        }
    }

    &.ant-input-status-error,
    &.ant-input-affix-wrapper-status-error,
    .ant-input-status-error,
    &.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
        background-color: var(
            --components-Input-TextAreacolors-background-error,
            var(--general-utilities-error-errorLight)
        );
        color: var(--components-Input-TextAreacolors-typography-content-error, var(--general-utilities-text-textError));

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(
                --components-Input-TextAreacolors-border-error,
                var(--general-utilities-error-errorColor)
            );
            &.ant-input-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(
                        --components-Input-TextAreacolors-border-focus-error,
                        var(--general-utilities-error-errorMedium)
                    );

                &:hover {
                    border-color: transparent;
                }
            }
        }

        &.ant-input-affix-wrapper .ant-input,
        &.ant-input-affix-wrapper .ant-input::placeholder {
            color: var(
                --components-Input-TextAreacolors-typography-placeholder-error,
                var(--general-utilities-error-errorColor)
            );
        }

        .ant-input-data-count {
            color: var(--components-Input-TextAreacolors-showCount-error, var(--general-utilities-text-textError));
        }

        .ant-input-suffix {
            .ant-input-clear-icon {
                color: var(--components-Input-TextAreacolors-clearIcon-error, var(--general-utilities-text-textError));
            }
        }

        &:hover,
        &:focus {
            border-color: var(
                --components-Input-TextAreacolors-border-error,
                var(--general-utilities-error-errorColor)
            );
        }
    }

    &.ant-input-status-warning,
    &.ant-input-affix-wrapper-status-warning,
    .ant-input-status-warning,
    &.ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) {
        background-color: var(
            --components-Input-TextAreacolors-background-warning,
            var(--general-utilities-warning-warningLight)
        );
        color: var(
            --components-Input-TextAreacolors-typography-content-warning,
            var(--general-utilities-text-textWarning)
        );

        &:not(.ant-input-borderless):not(.ant-input-disabled) {
            border-color: var(
                --components-Input-TextAreacolors-border-warning,
                var(--general-utilities-warning-warningColor)
            );

            &.ant-input-affix-wrapper-focused {
                border-color: transparent;
                // TODO change to cards-border-stroke when available
                box-shadow: 0 0 0 3px
                    var(
                        --components-Input-TextAreacolors-border-focus-warning,
                        var(--general-utilities-warning-warningMedium)
                    );

                &:hover {
                    border-color: transparent;
                }
            }
        }

        &.ant-input-affix-wrapper .ant-input,
        &.ant-input-affix-wrapper .ant-input::placeholder {
            color: var(
                --components-Input-TextAreacolors-typography-placeholder-warning,
                var(--general-utilities-text-textWarning)
            );
        }

        .ant-input-data-count {
            color: var(--components-Input-TextAreacolors-showCount-warning, var(--general-utilities-text-textWarning));
        }

        .ant-input-suffix {
            .ant-input-clear-icon {
                color: var(
                    --components-Input-TextAreacolors-clearIcon-warning,
                    var(--general-utilities-text-textWarning)
                );
            }
        }

        &:hover,
        &:focus {
            border-color: var(
                --components-Input-TextAreacolors-border-warning,
                var(--general-utilities-text-textWarning)
            );
        }
    }

    &:focus,
    &.ant-input-affix-wrapper-focused {
        border-color: transparent;
        // TODO change to cards-border-stroke when available
        box-shadow: 0 0 0 3px
            var(--components-Input-TextAreacolors-border-focus-default, var(--general-utilities-focus));

        .ant-input::placeholder {
            color: transparent;
        }
    }
}
